{% extends "base.html" %}
{% load static %}
{% block pages_style %}
<link rel="stylesheet" href="{% static 'css/videos/videos.css' %}">
{% endblock %}
{% block content %}
 
    <!-- Contact's Page Wrapper -->
    <div class="container-fluid videos-page-wrapper">
        <!-- CContactategory's Section -->
        <section class="row">

            <div class="col-12">
                <div class="row mb-3">

                    <div class="col-12 pl-0">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                        <!-- END a breadcrumb -->
                    </div>
                </div>
            </div>    


            <!-- Contact  -->
            <!-- Contact's Top Background -->
            <div class="top-and-bottom-block-bg blocks-top-bg  playlists-top-bg"> &nbsp; </div>


            <!-- Contact's Block -->
            <div class="col-12 bg-white">
                <div class="sections-content-wrapper">
                    <!-- Contact's Title Block -->
                    <div class="row">
                        <!-- Title -->
                        <div class="col-auto">
                            <h3 class="titles videos-title mr-2">Contact Me</h3>
                        </div>

                        <!-- Title's Right Line -->
                        <div class="col align-self-center mt-2 category-names-right-line">
                            &nbsp;
                        </div>

                        <!-- Div for right margin -->
                        <div class="col-1">&nbsp;</div>

                    </div>
                    <!-- END a Contact's Title Block -->

                    <div class="row mt-3 margin-0">
                        <!-- Contact Col  -->
                        <div class="col-12 padding-0 position-relative">

                            <form method="" action="" class="profile-account-wrapper">
                                <div class="row">
                                    <div class="col">
                                        <label for="userName">Name</label>
                                        <input type="text" class="form-control" id="userName" name="userName" value="" required>
                                    </div>
                                </div>  
                                <div class="row mt-2">
                                    <div class="col">
                                        <label for="userEmail">Email</label>
                                        <input type="email" class="form-control" id="nameEmail" name="userEmail" value="" required>
                                    </div>
                                </div>      
                                <div class="row mt-2">
                                    <div class="col">
                                        <label for="validationTextarea">Message</label>
                                        <textarea class="form-control" id="validationTextarea" required></textarea>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success btn-block mb-3 mt-4">Send A Message</button>
                            </form>

                        </div>
                        <!-- END a Contact Col -->
                    </div>
                </div>
            </div>
            <!-- END Contact's Block -->

            <!-- Block's Bottom Background -->
            <div class="top-and-bottom-block-bg blocks-bottom-bg videos-bottom-bg"> &nbsp; </div>



        </section>
        <!-- END a Contact's Section -->
    </div>
    <!-- END a Contact's Page Wrapper -->

       
{% endblock %}

{% block bottom_extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    /* Finding a screen height and asigning it to the Event's right side menu */
    let screenHight = window.screen.height;
    let topMenuHeight = document.getElementById("top-header").offsetHeight;
    document.getElementById("a-side-menu").style.height = Number(screenHight - topMenuHeight - 40) + "px";
    
    /* Opening and closing a Event's side menu by Jquery */
    $(document).ready(function(){
        /* Opening */ 
        $("#open-a-side-menu").click(function(){
           $("#a-side-menu").animate({
               left: "0px"
           },function(){
               $("#open-a-side-menu").hide(function(){
                   $("#a-side-menu-close").css({"display" : "block"});
               });
           });   
           return false;  
        });


        /* Closing  */ 
        $("#a-side-menu-close").click(function(){
           $("#a-side-menu").animate({
               left: "-250px"
           },function(){
               $("#a-side-menu-close").hide(function(){
                   $("#open-a-side-menu").css({"display" : "block"});
               });
           });   
           return false;  
        });

        // Freezing a opened side menu wile scrolling a page
        $(window).scroll(function(){
            
            if($("#a-side-menu").css("left") == "0px"){
                if($(window).scrollTop() > 0){
                    $("#a-side-menu").removeClass("a-side-menu"); 
                    $("#a-side-menu").addClass("freez-a-side-menu");  
                }else{
                    $("#a-side-menu").addClass("a-side-menu"); 
                    $("#a-side-menu").removeClass("freez-a-side-menu"); 
                }
            }

        });
    });
</script>

{% endblock %}