{% extends "base.html" %}
{% block contact_js %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"> </script>
    <script type="text/javascript">

        (function(){
            emailjs.init("HjAdVXQ7HTPaYLAfm");
        })();

        // Email sending function
       function sendEmail(contactForm) {
           // Grabing values from contact form
            var templateParams = {
                from_name: contactForm.userName.value,
                message: contactForm.contactMessage.value,
                from_email: contactForm.userEmail.value,
            };
            
            // Sending email
            emailjs.send('service_cbdglkc', 'template_5ghvlz6', templateParams)
                .then(function(response) {
                    alert('Your email has been sent!',response.status, response.text );
                }, function(error) {
                    alert('Failed to send email. Please try later', response.status, response.text );
            });

            return false;
       }
    </script>
{% endblock %}

{% block content %}
    <section class="contact-section">
        <div  class='section-wrapper sing-in-up'>
            <form onsubmit="return sendEmail(this)" class="contact-form">
                <label for="userName">Name</label>
                <div class="row no-gutters align-items-center">
                    <input type="text" class="align-middle form-control" 
                    id="userName" name="userName" value="" required>
                </div>   

                <label for="userEmail">Email</label>
                <div class="row no-gutters align-items-center">
                    <input type="email" class="form-control" id="nameEmail" 
                    name="userEmail" value="" required>
                </div>

                <label for="validationTextarea">Message</label>
                <div class="row no-gutters textarea-wrapper align-items-center">
                    <textarea class="form-control" id="validationTextarea" 
                    name="contactMessage" required></textarea>
                </div>

                <button type="submit" class="btn btn-outline-success btn-lg">
                    Send A Message
                </button>          
            </form>
        </div>
    </section>
{% endblock %}

