{% extends "base.html" %}

{% block content %}
    <section class="container-fluid home-first-section-not-logged">
        <div class="row  container-fluid">
            <div class="col container-fluid">

                <!-- A page text row -->
                <div class="row">
                    <!-- A Page title column -->
                    <div class="col-12">
                        <h1>
                            Tips from doctor Diana about <span>healthcare</span>
                        </h1>
                    </div>
                    <!-- A page description column -->
                    <div class="col-12">
                        <h2>
                             More than one hundred videos about weight loss, Tibetian medicine, diseases, physiology and more...
                        </h2>
                    </div>
                    <!-- Get access column -->
                    <div class="col-12">
                        <form>
                            <div class="row">
                                <div class="col-7">
                                    <input type="text" class="form-control video-search" id="videoSearch" name="search" aria-describedby="emailHelp">
                                </div>
                                <div class="col-5">
                                    <button type="submit" class="btn btn-primary">Get Access</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- A page video's row -->
                <div class="row">
                    <div class="col">
                        <a href="">
                            <img src="media/videos/thumbinals/home-page-video-thumb.jpg" alt="Thumbinal for video">
                        </a>
                    </div>
                </div>
            </div>    
        </div>
    </section> 
    <section class="container-fluid h-100 home-second-section-not-logged-in">
        <div class="row">
            <div class="col subscriptions-banner">
                <div class="container-fluid banner-wrapper">
                    <div class="row">
                        <div class="col banners-text">    
                            <h3> <i class="fas fa-user-edit"></i> subscription</h3>
                            <p>
                                Videos about healthcare, Weight Loss, Tibetian Medicine
                                Food Problems, Physiology, Anatomy, Medititation and more.
                                Also you will get access to the all events.
                            </p>
                        </div>
                    </div>
                    <div class="row home-page-event event">
                        <div class="col">
                            <h3> <i class="fas fa-calendar-day"></i> Summery of the year  2020 </h3>
                            <div class="timer">
                                12 : 24 : 30 : 02
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col subsctipsins-cards">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">1 Month</a>
                        <a class="nav-item nav-link active " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">6 Months</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">1 Year</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="car-content">
                            <p>1 Month</p>
                            <img src="media/img/sm/mb-home-card-scale.png" alt="Scale" >
                            <p> Save <span>0</span> Euros </p>
                            <strong> 19 </strong> </br>
                            <span>EUR</span>
                            <p>You will get full access to all videos + events</p>
                            <button type="button" class="btn btn-success">Choose</button>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="car-content">
                            <p>6 Months</p>
                            <img src="media/img/sm/mb-home-card-scale.png" alt="Scale" >
                            <p> Save <span>24</span> Euros </p>
                            <strong> 90 </strong> </br>
                            <span>EUR</span>
                            <p>You will get full access to all videos + events</p>
                            <button type="button" class="btn btn-success">Choose</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="car-content">
                            <p>1 Year</p>
                            <img src="media/img/sm/mb-home-card-scale.png" alt="Scale" >
                            <p> Save <span>68</span> Euros </p>
                            <strong> 160 </strong> </br>
                            <span>EUR</span>
                            <p>You will get full access to all videos + events</p>
                            <button type="button" class="btn btn-success">Choose</button>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </section>

    <section class="container-fluid h-100 home-second-section-not-logged-in">
        <div class="row container-fluid">
            <div class="col home-faq">
                <h3> <i class="fas fa-th-list"></i> Frequently Asked Questions</h3>
                <hr />
                <div class="home-faq-wrapper">
                    <div class="faq-1">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#faq-1" role="button" aria-expanded="false" aria-controls="faq-1">
                                Anim pariatur cliche reprehend...
                            </a>
                        </p>
                        <div class="collapse" id="faq-1">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>

                    <div class="faq-2">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#faq-2" role="button" aria-expanded="false" aria-controls="faq-2">
                                Anim pariatur cliche reprehend...
                            </a>
                        </p>
                        <div class="collapse" id="faq-2">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>

                    <div class="faq-3">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#faq-3" role="button" aria-expanded="false" aria-controls="faq-3">
                                Anim pariatur cliche reprehend...
                            </a>
                        </p>
                        <div class="collapse" id="faq-3">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>

                    <div class="faq-4">
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#faq-4" role="button" aria-expanded="false" aria-controls="faq-4">
                                Anim pariatur cliche reprehend...
                            </a>
                        </p>
                        <div class="collapse" id="faq-4">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col">
                  <div class="row">
                    <div class="col-6">  
                        <h3> <i class="far fa-clock"></i> Upcoming Events </h3>
                    </div>
                    <div class="col-6">
                        <a href="#"><i class="fas fa-angle-left"></i></a>
                        <span>February</span>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                  </div>
                  <hr /> 

                  <div class="table-responsive calendar-wrapper">
                    <table class="table table-sm table-bordered align-middle">
                        <thead class="table-light">
                            <tr>
                                <td>S</td>
                                <td>M</td>
                                <td>T</td>
                                <td>W</td>
                                <td>T</td>
                                <td>F</td>
                                <td>S</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                            </tr>
                             <tr>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                            </tr>
                             <tr>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                            </tr>
                        </tbody>
                    </table>
                  </div> 
            </div>
        </div>
    </section>  
{% endblock %}
{% block extra_js %}
{% endblock %}

 