{% extends "base.html" %}
{% block content %}
    {% if request.user.is_authenticated %}
         <!-- This is a HTML fot DESKTOP devices -->
        <div class='row section-wrapper d-none d-lg-flex mt-4 no-gutters'>
        
            <!-- Side menu -->
            <div class='col-3 desk-side-menu'>

                <ul class="nav flex-column ml-3 side-menu-ul">
                    <!-- List Options -->
                    <li class="nav-item mt-2">
                        <a class="nav-link ml-3 pl-0 pb-3 side-menu-section-name" href="#">
                            <img src="{{ MEDIA_URL }}icons/videos-cat-icon.png" width="45px" class="pr-2" alt="Video's Category's Icon"> List Options
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_profile' %}">My List <span class="badge ml-2 badge-info">17</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_profile' %}?action=liked">Liked Videos <span class="badge ml-2 badge-info">38</span></a>
                    </li>
                    <!-- END a List Options -->

                     <li class="nav-item mt-2">
                        <a class="nav-link ml-3 pl-0 pb-3 side-menu-section-name" href="#">
                            <i class="fas fa-users-cog titles-icon mr-2"></i> Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_account' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_subscription' %}">Subscription</a>
                    </li>

                </ul>

            </div>

            <!-- Page content -->
            <div class='col-9 bg-white p-5'>
            
                <ul class="list-group">
                    <li class="list-group-item"><a href="{% url 'account_email' %}" >Manage Email</a></li>
                    <li class="list-group-item"><a href="{% url 'account_reset_password' %}" >Reset Password</a></li>
                </ul>


            </div>
        </div>

        <!-- 
            This is a HTML for tablets and lower devices

            Div wrapper witth position relative for right side menu.
         -->
        <div class="position-relative d-lg-none">
            <!-- Video's Page Wrapper -->
            <div class="container-fluid videos-page-wrapper">
                <!-- Category's Section -->
                <section class="row">

                    <div class="col-12">
                        <div class="row mb-3">

                            <div class="col-12 pl-0">
                                <!-- breadcrumb -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Profile</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Account</li>
                                    </ol>
                                </nav>
                                <!-- END a breadcrumb -->
                            </div>

                            <div class="w-100"></div>

                            <!-- Account and Subscription Block -->
                            <div class="col-7 acc-subs-col pt-2">
                                <a href="{% url 'profile_account' %}"> Account / </a>
                                <a href="{% url 'profile_subscription' %}"> Subscription </a>
                            </div>
                            <!-- END a Account and Subscription Block -->

                            <!-- Buttons to Choose Other Category -->
                            <div class="col-5">
                                <select class="custom-select" id="open-a-side-menu">
                                    <option value="">My Events</option>
                                </select>
                                <button type="button" class="close" id="a-side-menu-close">
                                    <span class="x-sign">&times;</span>
                                </button>
                            </div>
                            <!-- END a Buttons to Choose Other Category -->

                        </div>
                    </div>    


                    <!-- Account  -->
                    <!-- Account's Top Background -->
                    <div class="top-and-bottom-block-bg blocks-top-bg  playlists-top-bg"> &nbsp; </div>


                    <!-- Account's Block -->
                    <div class="col-12 bg-white">
                        <div class="sections-content-wrapper">
                            <!-- Account's Title Block -->
                            <div class="row">
                                <!-- Title -->
                                <div class="col-auto">
                                    <h3 class="titles videos-title mr-2">Edit Account</h3>
                                </div>

                                <!-- Title's Right Line -->
                                <div class="col align-self-center mt-2 category-names-right-line">
                                    &nbsp;
                                </div>

                                <!-- Div for right margin -->
                                <div class="col-1">&nbsp;</div>

                            </div>
                            <!-- END a Account's Title Block -->

                            <div class="row mt-3 margin-0">
                                <!-- Account Col  -->
                                <div class="col-12 padding-0 position-relative mb-4">
                                    <ul class="list-group">
                                        <li class="list-group-item"><a href="{% url 'account_email' %}" >Manage Email</a></li>
                                        <li class="list-group-item"><a href="{% url 'account_reset_password' %}" >Reset Password</a></li>
                                    </ul>

                                </div>
                                <!-- END a Account Col -->
                            </div>
                        </div>
                    </div>
                    <!-- END Video's Block -->

                    <!-- Block's Bottom Background -->
                    <div class="top-and-bottom-block-bg blocks-bottom-bg videos-bottom-bg"> &nbsp; </div>



                </section>
                <!-- END a Account's Section -->
            </div>
            <!-- END a Account's Page Wrapper -->

            <!-- Right Side Menu -->
            <div class="a-side-menu" id="a-side-menu">

                <ul class="nav flex-column ml-3 side-menu-ul">
                    <!-- List Options -->
                    <li class="nav-item mt-2">
                        <a class="nav-link ml-3 pl-0 pb-3 side-menu-section-name" href="#">
                            <img src="{{ MEDIA_URL }}icons/videos-cat-icon.png" width="45px" class="pr-2" alt="Video's Category's Icon"> List Options
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_profile' %}">My List <span class="badge ml-2 badge-info">17</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_profile' %}?action=liked">Liked Videos <span class="badge ml-2 badge-info">38</span></a>
                    </li>
                    <!-- END a List Options -->

                     <li class="nav-item mt-2">
                        <a class="nav-link ml-3 pl-0 pb-3 side-menu-section-name" href="#">
                            <i class="fas fa-users-cog titles-icon mr-2"></i> Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_account' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_subscription' %}">Subscription</a>
                    </li>

                </ul>
            </div>
            <!-- END a Right Side Menu -->
        </div>
    {% else %}

    {% endif %}
{% endblock %}

{% block bottom_extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    /* Finding a screen height and asigning it to the Event's right side menu */
    let screenHight = window.screen.height;
    let topMenuHeight = document.getElementById("top-header").offsetHeight;
    document.getElementById("a-side-menu").style.height = Number(screenHight - topMenuHeight - 40) + "px";
    
    /* Opening and closing a Event's side menu by Jquery */
    $(document).ready(function(){

        $("option").hide(); // Hiding  a option in the select tag

        /* Opening */ 
        $("#open-a-side-menu").click(function(){
           $("#a-side-menu").animate({
               left: "0px"
           },function(){
               $("#open-a-side-menu").hide(function(){
                   $("#a-side-menu-close").css({"display" : "block"});
               });
           });   
           return false;  
        });


        /* Closing  */ 
        $("#a-side-menu-close").click(function(){
           $("#a-side-menu").animate({
               left: "-250px"
           },function(){
               $("#a-side-menu-close").hide(function(){
                   $("#open-a-side-menu").css({"display" : "block"});
               });
           });   
           return false;  
        });

        // Freezing a opened side menu wile scrolling a page
        $(window).scroll(function(){
            
            if($("#a-side-menu").css("left") == "0px"){
                if($(window).scrollTop() > 0){
                    $("#a-side-menu").removeClass("a-side-menu"); 
                    $("#a-side-menu").addClass("freez-a-side-menu");  
                }else{
                    $("#a-side-menu").addClass("a-side-menu"); 
                    $("#a-side-menu").removeClass("freez-a-side-menu"); 
                }
            }

        });
    });
</script>

{% endblock %}