{% extends "base.html" %}
{% load static %}
{% load profile_tags %}
{% block content %}
    {% if request.user.is_authenticated %}

        <!-- Side menu open button for tablets and mobile devices -->
        <div class="row d-lg-none no-gutters section-wrapper">
            <div class="col col-lg-0">&nbsp;</div>
            <div class="col-4 md-side-menu-btn">
                <button class="default-btn btn" 
                        id="open-side-menu">
                    Categories
                </button>
            </div>
        </div>


        <section class="row videos-section section-wrapper no-gutters">
            <!-- Side menu -->
            <div class="a-side-menu col-3" id="a-side-menu">

                <ul class="nav flex-column side-menu-ul">
                    {% for category in categories %}
                        <!-- Section name -->
                        <li class="nav-item mt-4">
                            <a class="side-menu-section-name nav-link ml-3" href="{% url 'users_profile' %}">
                                <img src="{{ MEDIA_URL }}{{ category.icon }}" 
                                    width="40px" class="pr-2" alt="Video's Category's Icon"> 
                                {{ category.name }}
                            </a>
                        </li>
                        
                        {% for subcategory in subcategories %}
                            {% if subcategory.category == category %}
                          
                                {% counted_videos page request.user as counted_videos %}
                                <!-- Subcategories -->
                                <li class="nav-item">
                                    <a href="{% url 'users_profile' subcategory.page %}"
                                        {% if page == subcategory.page %}
                                            class="selected_subject nav-link"
                                        {% else %}
                                            class="side-menu-links nav-link" 
                                        {% endif %}>

                                        <!-- Title -->
                                        {{ subcategory.name }}

                                        <!-- Amount of the videos by subcategories -->
                                        {% if category.name == 'Categories' %}
                                            {% for action,value in actions.items %}
                                                {% if action == subcategory.page %}
                                                    <span class="badge ml-2 badge-light"> 
                                                        {{ value|length }}
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    <div class="side-menu-bm"></div>
                </ul>

            </div>

            <!-- Page content -->
            <div class="col-12 col-lg-9">
                <!-- Profile home page -->
                {% if page == 'home' %}
                    {% for subcategory in subcategories %}
                        {% if subcategory.show_home_page %}
                            <!-- Title section -->
                            <div class="row no-gutters align-items-center">
                                <!-- Title and icon -->
                                <div class="col-12 col-md-7">
                                    <h3 class="container-fluid video-titles titles mt-4">
                                        <img src="{{ MEDIA_URL }}{{ subcategory.icon }}" 
                                            width="45px" class="pr-2" alt="{{subcategory.name}}'s Icon">
                                        {{subcategory.name}}
                                    </h3>
                                </div>

                                <!-- Swipe icon -->
                                <div class="col col-md-5 mt-3 swipe-container">
                                    <img src="{{ MEDIA_URL }}/icons/this_down_icon.png" 
                                            width="25px" class="pr-1 d-none d-md-inline-block" >
                                    <span class="d-none d-md-inline-block d-lg-none">Swipe for next</span>
                                    <span class="d-none d-lg-inline-block mr-3">Grab and swipe for next</span>
                                </div>
                            </div>
                            
                            <!-- Title under line-->
                            <hr class="video-title-devider mt-4">

                            {% for key, videos in actions.items %}
                                {% if key == subcategory.page %} 
                                    <!-- Content -->
                                    <div class="row no-gutters"> 
                                        <!-- Sliders area -->
                                        <div class="col-12">
                                            <div class="video-slider-owerflow-hidden" id="{{ subcategory.slider_id }}">
                                                <div class="sliders-container">
                                                    <!-- Diplay videos -->
                                                    {% for video in videos %}
                                                        <!-- Slide -->
                                                        <div class="slide">   
                                                            <!-- Single video title -->
                                                            <h3 class="mt-2 bycat-title"> 
                                                                <a href="{% url 'single_video' video.id %}" 
                                                                    class="video-title "> {{ video.title }} 
                                                                </a>
                                                            </h3>
                                                                
                                                            <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
                                                                
                                                                <!-- Video frame -->
                                                                <iframe class="embed-responsive-item" src="{{ video.content }}" 
                                                                        allowfullscreen>
                                                                </iframe>
                                    
                                                                <!-- Action Buttons -->
                                                                <div class="action-buttons-container">

                                                                    <!--  Add to my list -->
                                                                    <div class="action-button" data-bs-toggle="tooltip" 
                                                                        data-bs-placement="top" title="My List">
                                                                        <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=mylist">
                                                                            
                                                                            {% if video in actions.mylist %}
                                                                                <i class="added_in_list fas fa-plus-square"></i>
                                                                            {% else %}
                                                                                <i class="fas fa-plus-square"></i>
                                                                            {% endif %}
                                                                            
                                                                        </a>
                                                                    </div>
                                                                    
                                                                    <!-- Like -->
                                                                    <div class="action-button" data-bs-toggle="tooltip" 
                                                                        data-bs-placement="top" title="Like">

                                                                        <!-- Checking if a user has already liked current video -->
                                                                        {% if video in actions.liked %}
                                                                            <i class="added_in_list fas fa-check"></i>
                                                                        {% else %}
                                                                            <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=like" 
                                                                                class="">
                                                                                <i class="far fa-thumbs-up"></i>
                                                                            </a>
                                                                        {% endif %}
                                                                        
                                                                    
                                                                        <!-- Total like -->
                                                                        <small class=" action-buttons-value">   
                                                                            {% if video.liked == None %}
                                                                                ( 0 )
                                                                            {% else %}
                                                                                (+ {{ video.liked }} )
                                                                            {% endif %}
                                                                        </small>
                                                                    </div>

                                                                    <!-- Watched -->
                                                                    <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                                                        data-bs-placement="top" title="Watched">
                                                                        <a href="#">
                                                                            <i class="far fa-eye"></i>
                                                                        </a><small class="action-buttons-value">(247)</small>
                                                                    </div>   
                                                                </div>
                                                            </div>

                                                            <!-- Description -->
                                                            <p class="container-fluid mt-3 position-relative">
                                                                {{ video.description|truncatechars:70 }}
                                                                <img src="{{ MEDIA_URL }}/icons/swipe-icon.png" 
                                                                    width="30px" class="d-md-none mb-swipe-icon">
                                                            <p>

                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- View all button-->
                                        <div class='col-12 d-none d-lg-block'>
                                            <a href="{% url 'users_profile' %}?action={{subcategory.page}}" 
                                            class="btn btn-outline-success btn-lg btn-view-all">
                                                View All
                                            </a>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endfor %}
                            
                            
                        {% endif %}
                    {% endfor %}
                {% else %}<!-- Content by subcategories -->
                    <div class="last-view-content-row row">
                        {% for subcategory in subcategories %}
                            {% if subcategory.page == page %}

                                <!-- Title -->
                                <h3 class="container-fluid video-titles titles mt-4 pl-3">
                                    <!-- Icon -->
                                    <img src="{{ MEDIA_URL }}{{subcategory.icon}}" 
                                        width="45px" class="pr-2" alt="Video's Category's Icon">
                                    <!-- Title -->
                                    {{ subcategory.name }}
                                </h3>

                                <!-- Title underline -->
                                <hr class="video-title-devider mt-4">
                                
                                <!-- Mylis and liked videos content -->
                                {% if not account and not subscription %}
                                    {% for key, videos in actions.items %}
                                        {% if key == page %}
                                            {% for video in videos %}

                                                <!-- Content Section -->
                                                <div class="col-12 col-md-4">
                                                    <!-- Single video title -->
                                                    <h3 class="mt-2 bycat-title"> 
                                                        <a href="{% url 'single_video' video.id %}" 
                                                            class="video-title "> {{ video.title }} 
                                                        </a>
                                                    </h3>
                                                        
                                                    <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                                                        
                                                        <!-- Video frame -->
                                                        <iframe class="embed-responsive-item" src="{{ video.content }}" 
                                                                allowfullscreen>
                                                        </iframe>

                                                        <!-- Action Buttons -->
                                                        <div class="action-buttons-container">

                                                            <!--  Add to my list -->
                                                            <div class="action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="My List">
                                                                <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=mylist">
                                                                    
                                                                    {% if video in actions.mylist %}
                                                                        <i class="added_in_list fas fa-plus-square"></i>
                                                                    {% else %}
                                                                        <i class="fas fa-plus-square"></i>
                                                                    {% endif %}
                                                                    
                                                                </a>
                                                            </div>
                                                            
                                                            <!-- Like -->
                                                            <div class="action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="Like">

                                                                <!-- Checking if a user has already liked current video -->
                                                                {% if video in actions.liked %}
                                                                    <i class="added_in_list fas fa-check"></i>
                                                                {% else %}
                                                                    <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=like" 
                                                                        class="">
                                                                        <i class="far fa-thumbs-up"></i>
                                                                    </a>
                                                                {% endif %}
                                                                
                                                            
                                                                <!-- Total like -->
                                                                <small class=" action-buttons-value">   
                                                                    {% if video.liked == None %}
                                                                        ( 0 )
                                                                    {% else %}
                                                                        (+ {{ video.liked }} )
                                                                    {% endif %}
                                                                </small>
                                                            </div>

                                                            <!-- Watched -->
                                                            <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="Watched">
                                                                <a href="#">
                                                                    <i class="far fa-eye"></i>
                                                                </a><small class="action-buttons-value">(247)</small>
                                                            </div>   
                                                        </div>
                                                    </div>

                                                    <!-- Video's Description -->
                                                    <p class="container-fluid mt-3 position-relative">
                                                        {{ video.description|truncatechars:70 }}
                                                    <p>
                                                </div>   
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                <!-- Account page content -->
                                {% if page == 'account' %}
                                    <ul class="list-group">
                                        <li class="list-group-item side-menu-links">
                                            <a href="{% url 'account_email' %}" >
                                                Manage Email
                                            </a>
                                        </li>
                                        <li class="list-group-item side-menu-links">
                                            <a href="{% url 'account_change_password' %}" >
                                                Change Password
                                            </a>
                                        </li>
                                        <li class="list-group-item side-menu-links">
                                            <a href="{% url 'account_reset_password' %}">
                                                Reset Password
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                                
                                <!-- Subscription page content -->
                                {% if page == 'subscription' %}
                                    <ul class="list-group mb-4">
                                        <form method="" action="" class="profile-account-wrapper">
                                            <div class="inputs-wrapper">
                                                <div class="input-group flex-nowrap">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="addon-wrapping">Valid Till:</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="2021-03-12" aria-label="Username" aria-describedby="addon-wrapping" readonly>
                                                </div>
                                                <div class="w-100">&nbsp; </div>
                                                <div class="input-group flex-nowrap mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="addon-wrapping">Subscribed From:</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="2020-02-17" aria-label="Username" aria-describedby="addon-wrapping" readonly>
                                                </div>
                                            </div>
                                        </form>
                                        <li class="list-group-item side-menu-links">
                                            <a href="" >Cancel Subscription</a>
                                        </li>
                                    </ul>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </section>
    {% else %}

    {% endif %}
{% endblock %}

{% block bottom_extra_js %}
<script src="{% static 'js/slider.js' %} "></script>
<script>
     // Open a side menu for tablet and lower devices
    document.getElementById("open-side-menu").addEventListener("click", ()=> {
        event.preventDefault()
        
        // Control animation start and finish to
        // avoit mixing of icons appereanse by 
        // clicking fast on it.
        let start = true

        if(start){
            start = false
            // Open menu
            let sideMenu=document.querySelector(".a-side-menu")
            sideMenu.classList.toggle("side-menu-open")

            // Toggle content of button
            let btn=document.getElementById("open-side-menu")
            let btnContent=btn.innerHTML.trim()

            if(btnContent == "Categories") {
                btn.classList.remove("side-menu-scale1")
                btn.classList.add("side-menu-scale0")

                btn.addEventListener("transitionend", () => {
                    btn.innerHTML="X"
                    btn.classList.add("side-menu-close-btn")
                    btn.classList.remove("side-menu-scale0")
                    btn.classList.add("side-menu-scale1")
                    start = true
                })
            } else {
                btn.classList.remove("side-menu-scale1")
                btn.classList.add("side-menu-scale0")

                btn.addEventListener("transitionend", () => {
                    btn.innerHTML="Categories"
                    btn.classList.remove("side-menu-close-btn")
                    btn.classList.remove("side-menu-scale0")
                    btn.classList.add("side-menu-scale1")
                    start = true
                })
            }
        }    
    })

    // Stick a top position on scrolling
    document.addEventListener("scroll", ()=> {
        let position=document.body.getBoundingClientRect()
        document.querySelector(
            ".a-side-menu").style.top=Math.abs(position.top) + "px"
    })
</script>

{% endblock %}