
/* Marging from top to outcome from top menu's overlapping */
.videos-page-wrapper{
    margin-top: 90px;
}

/* Making a line background for category's title and for side menu's title */
.category-names-right-line,
.side-menu-section-name{
    background-image: url('/media/img/general/category-names-right-line.jpg');
    background-position-x: center;
    background-repeat: repeat-x;
}

.videos-title{
    margin-top: 0 !important;
}

.videos-bottom-bg{
    background-image: url('/media/img/sm/videos-blocks-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb{
    background-color: white;
    margin-top: 15px;
    border-radius: 0px 5px 5px 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}


.breadcrumb-activ-link li a{
    color: #fc01fe !important;
}

.cat-select{
    margin-top: 15px; 
}


/* A side menu styles BEFORE scrolling a page */
.a-side-menu{
    background-image: url('/media/img/general/side-menu-left-borders-bg.jpg');
    background-position-y: top left;
    background-repeat: repeat-y;
    width: 250px;
    position: absolute;
    top: 0px;
    left: -250px;
    background-color: white;
    overflow: scroll;
}


/* A side menu styles WHILE scrolling a page */
.freez-a-side-menu{
    background-image: url('/media/img/general/side-menu-left-borders-bg.jpg');
    background-position-y: top left;
    background-repeat: repeat-y;
    width: 250px;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: white;
    overflow: scroll;   
}

/* Styling a side menu's section name */
.side-menu-section-name{
    display: inline-block;
    background-position: bottom;
    color: #81c91e !important;
}

.side-menu-ul li a{
    color: #6e6e6e;
}

#a-side-menu-close{
    display: none;
}

.x-sign{
    font-size: 54px;
}


/***** Single Video Page Style *****/
.single-menu-section-top-margin{
    width: 100%;
    height: 94px;
}

