{% extends "base.html" %}
{% block content %}

    <!-- FAQ's Page Wrapper -->
    <div class="container-fluid videos-page-wrapper">
        <!-- FAQ's Section -->
        <section class="row">

            <div class="col-12">
                <div class="row mb-3">

                    <div class="col-12 pl-0">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                            </ol>
                        </nav>
                        <!-- END a breadcrumb -->
                    </div>

                </div>
            </div>    


            <!-- FAQ  -->
            <!-- Block's Top Background -->
            <div class="top-and-bottom-block-bg blocks-top-bg  playlists-top-bg"> &nbsp; </div>


            <!-- FAQ's Block -->
            <div class="col-12 bg-white">
                <div class="sections-content-wrapper">
                    <!-- FAQ's Title Block -->
                    <div class="row">
                        <!-- Title -->
                        <div class="col-auto">
                            <h3 class="titles videos-title mr-2">FAQ</h3>
                        </div>

                        <!-- Title's Right Line -->
                        <div class="col align-self-center mt-2 category-names-right-line">
                            &nbsp;
                        </div>

                        <!-- Div for right margin -->
                        <div class="col-1">&nbsp;</div>

                    </div>
                    <!-- END a FAQ's Title Block -->

                    <div class="row mt-4 margin-0">
                        <!-- FAQ -->
                        <div class="col-12 padding-0 position-relative">
                            <!-- FAQ 1 -->
                            <div class="event-1">
                                <p class="events-p mb-3">
                                    <a class="btn events-title" data-toggle="collapse" href="#event-1" role="button" aria-expanded="false" aria-controls="event-1">
                                        Anim pariatur cliche...
                                    </a>
                                </p>
                                <div class="collapse" id="event-1">
                                    <div class="card card-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </p>
                                        <div class="timer mb-3">
                                            12 : 24 : 30 : 02
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-success">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END a FAQ 1 -->

                            <!-- FAQ 2 -->
                            <div class="event-2">
                                <p class="events-p mb-3">
                                    <a class="btn events-title" data-toggle="collapse" href="#event-2" role="button" aria-expanded="false" aria-controls="event-2">
                                        Anim pariatur cliche...
                                    </a>
                                </p>
                                <div class="collapse" id="event-2">
                                    <div class="card card-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </p>
                                        <div class="timer mb-3">
                                            12 : 24 : 30 : 02
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-success">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END a FAQ 2 -->

                            <!-- FAQ 3 -->
                            <div class="event-3">
                                <p class="events-p mb-3">
                                    <a class="btn events-title" data-toggle="collapse" href="#event-3" role="button" aria-expanded="false" aria-controls="event-3">
                                        Anim pariatur cliche...
                                    </a>
                                </p>
                                <div class="collapse" id="event-3">
                                    <div class="card card-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </p>
                                        <div class="timer mb-3">
                                            12 : 24 : 30 : 02
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-success">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END a FAQ 3 -->

                            <!-- FAQ 4 -->
                            <div class="event-4">
                                <p class="events-p mb-3">
                                    <a class="btn events-title" data-toggle="collapse" href="#event-4" role="button" aria-expanded="false" aria-controls="event-4">
                                        Anim pariatur cliche...
                                    </a>
                                </p>
                                <div class="collapse" id="event-4">
                                    <div class="card card-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </p>
                                        <div class="timer mb-3">
                                            12 : 24 : 30 : 02
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-success">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END a FAQ 4 -->

                        </div>
                        <!-- FAQ -->
                    </div>
                </div>
            </div>
            <!-- END FAQ's Block -->

            <!-- Block's Bottom Background -->
            <div class="top-and-bottom-block-bg blocks-bottom-bg videos-bottom-bg"> &nbsp; </div>



        </section>
        <!-- END a FAQ's Section -->
    </div>
    <!-- END a FAQ's Page Wrapper -->
{% endblock %}

