{% extends "base.html" %}
{% block content %}
    <!-- FAQ section -->
    <!-- Div tag for top vertical background -->
    <div class="faq-section top-and-bottom-block-bg gray-section-top-bg"></div> 
    <section class="gray-section">
        <div class="section-wrapper container-fluid">
            <!-- FAQ Title -->
            <h3 class="titles pt-2"> 
                <i class="fas fa-th-list titles-icon mr-2"></i>
                    <span class="d-none d-md-inline-block">
                    Frequently Asked Questions
                </span>
                <span class="d-md-none"> FAQ </span>
            </h3>
            <hr/>
            
            <!-- FAQ 1 -->
            <div class="faq-1 mb-3">
                <p class="faq-questions-p">
                    <a class="btn faq-questions" data-toggle="collapse" href="#faq-1" role="button" aria-expanded="false" aria-controls="faq-1">
                        What is included in subscription?
                    </a>
                </p>
                <div class="collapse mb-3" id="faq-1">
                    <div class="card card-body">
                        In subscription included a access to all videos, events and webinars. 
                    </div>
                </div>
            </div>
            <!-- END a FAQ 1 -->

            <!-- FAQ 2 -->
            <div class="faq-2 mb-3">
                <p class="faq-questions-p">
                    <a class="btn faq-questions" data-toggle="collapse" href="#faq-2" role="button" aria-expanded="false" aria-controls="faq-2">
                        When can I cancel a subscription?
                    </a>
                </p>
                <div class="collapse mb-3" id="faq-2">
                    <div class="card card-body">
                        A subscription you can cancell any time.
                    </div>
                </div>
            </div>
            <!-- END a FAQ 2 -->

            <!-- FAQ 3 -->
            <div class="faq-3 mb-3">
                <p class="faq-questions-p">
                    <a class="btn faq-questions" data-toggle="collapse" href="#faq-3" role="button" aria-expanded="false" aria-controls="faq-3">
                        How can I pay?
                    </a>
                </p>
                <div class="collapse mb-3" id="faq-3">
                    <div class="card card-body">
                        You can pay with a bank card. 
                    </div>
                </div>
            </div>
            <!-- END a FAQ 3-->

            <!-- FAQ 4 -->
            <div class="faq-4">
                <p class="faq-questions-p">
                    <a class="btn faq-questions" data-toggle="collapse" href="#faq-4" role="button" aria-expanded="false" aria-controls="faq-4">
                        May I have private consultation?
                    </a>
                </p>
                <div class="collapse  mb-3" id="faq-4">
                    <div class="card card-body">
                        Yes you can have it. In order to have a private consultation you have to contact me at - doctordiana@diasfero.com
                    </div>
                </div>
            </div>
            <!-- END a FAQ 4 -->
        </div>
    </section>
    <!-- Div tag for bottom vertical background -->
    <div class="top-and-bottom-block-bg gray-section-bottom-bg mb-5"></div>
{% endblock %}

