/*
- This webpage uses mobile first approach system for styling.
- Each goupe of styles is seperated from an other by 
  starting and ending comments.
- Ending comments ends with END keyword and goup's name.
  For example ' END Home page '. 
- You can easily find style of group by selecting group name from the
  list bellow and searching it by ctr/cmd F.
- All icons are grouped in the icons group.
- Groups of styles:
    - General styles
    - base.html
    - Home page
    - Subscription page
    - Contact page
    - FAQ
    - Videos
    - User profile
    - Side menu
    - Sing in/up
    - Slider
    - Action butttons
    - Icons
    - Extra small devices
    - Tablet
    - Desktop
*/

/**** General styles ****/
/*  Import a google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@font-face {
    font-family: 'Icons';
    src: url('/media/fonts/icons.ttf');
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 16px; 
    background-color: #f3f3f3;
    color: #616161;
}

/* Loading icon wrapper */
.loading {
    position: fixed;
    -webkit-position: fixed;
    -moz-position: fixed;
    -o-position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

#loading_img {
    vertical-align: middle;
    border-style: none;
    margin: auto;
}

/* All pages wrapper */
main.all-wrapper {
    height: 100%;
}

.section-wrapper {
    width: 100%;
}

/* Section top and bottom slanted lines */
.top-and-bottom-block-bg {
    height: 30px;
}

.gray-section-top-bg,
.gray-section-bottom-bg,
.white-section-top-bg,
.white-section-bottom-bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.gray-section-top-bg {
    background-image: url('/media/img/sm/gray-section-top-bg.png');
}

.gray-section-bottom-bg {
    background-image: url('/media/img/sm/gray-section-bottom-bg.png');
}

.white-section-top-bg {
    background-image: url('/media/img/sm/white-section-top-bg.png');
}

.white-section-bottom-bg {
    background-image: url('/media/img/sm/white-section-bottom-bg.png');
}

.gray-section {
    background-color: #dcdcdc;
}

/* Hightest z-index */ 
.above-z {
    position: relative;
    z-index: 1000;
}

/* Lowest z-index */
.below {
    z-index: 1;
}

.attantion {
    color: #a01700 !important;
}

.titles {
    font-variant: small-caps;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1.2px;
    line-height: 32px;
    color: #6e6e6e;
}

.card-bg {
    background-color: #fdfdfd;
}

.filled-button {
    width: 100%;
    background-color: #81c91e !important;
    color: white !important;
    border: 2px solid #71bb0c;
    transition: background-color .3s ease-out;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -ms-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
}

.filled-button:hover {
    background-color: #6baa16 !important;
}

.btn {
    transition: .3s ease-out;
}

.btn-outline-success {
    border-color: #81c91e;
}

.btn-outline-success:hover {
    background-color: #81c91e;
    border-color: #81c91e;
}

.swipe-container {
    text-align: right;
}

.swipe-icon-wrapper {
    width: 100%;
    position: relative;
}

.title-devider {
    width: 92%;
}
/**** END general styles ****/

/**** base.html ****/
.header {
    width: 100%;
    height: 95px;
    padding-top: 6%;
    background-image: url('/media/img/lg/lg-header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content-wrapper {
    width: 85%;
    height: 95px;
    margin: auto;
    border: 1px solid transparent;
}

.header-content-row {
    height: 55px;
    margin-top: -6px;
}

/* Haburgare menu */
.navbar-toggler {
    border-radius: 0;
    padding: 0;
    padding-top: .4rem;
    border: none;
}

/* Burger button animation's styles
source https://mdbootstrap.com/docs/b4/jquery/navigation/hamburger-menu/ */
.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #fb9af4;
}

.animated-icon2 span {
    background: #e3f2fd;
}

.animated-icon3 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 3*/
.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

/* Expanded menu */
.top-main-menu {
    background-color: #663399;
    width: 123%;
    margin-top: 4%;
    transform: translateX(-8%)
}

.top-main-menu li {
    padding: 0px 5px;
    margin: 0px 23px;
}

.top-main-menu a {
    font-family: 'Poiret One';
    font-size: 22px;
    letter-spacing: 5px;
    color: #fff !important;
    text-transform: uppercase;
    transform: translateY(0px);
    transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    -ms-transition: transform .3s ease-in;
}

.top-main-menu a:hover {
    color: #fb9af4;
    transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
}

.top-main-menu li.active,
.mb-active {
    border-bottom: 1px solid #fb9af4;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.search-wrapper {
    position: relative;
    width: 100%;
}

/* Search input element */
.video-search {
    background-color: rgba(161, 128, 163, 0.3);
    border: solid 1px #a180a3;
    border-radius: 8px;
    color: #f3f3f3;
    transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
}

.video-search:hover,
.video-search:focus,
.video-search:focus-visible {
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    height: calc(1.5em + 0.75rem + 10px);
    border: solid 2px #cd89d1;
    background-color: rgba(161, 128, 163, 0.5);
}

/* User profile 'a' element */
.dropleft .dropdown-toggle::before {
    display: none;
}

/* User profile dropdown menu */
.dropdown-menu {
    border: 1px solid #945d8f;
    background-color: #7e4ab4;
    padding: 0;
}

/* Links color */
.dropdown-item {
    color: white;
}

/* Devider beetwen menu links */
.dropdown-divider {
    border-top: 1px solid #945d8f;
    margin: 0;
}

.dropdown-item:hover {
    background-color: #663399;
    color: white;
}

/* Top menu left and right paddings*/
.top-nav {
    padding: 0;
}

/* Margin between content and a footer manu */
.margin-between-footer-menu-and-content {
    width: 100%;
    height: 60px;
}

/* Margin beetwen menu and section */
.mb-header-margin {
    height: 95px;
}

.footer-links {
    color: #54198b;
}
/**** END base.html ****/

/**** Home page ****/
/* Section wrapper */
.hero-section {
    width: 100%;
    background-image: url('/media/img/sm/hero-sm-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text-bold {
    text-transform: uppercase;
    font-family: Oswald;
    letter-spacing: 2px;
    font-size: 39px;
    line-height: 48px;
    text-align: center;
}

.hero-text-bold span {
    color: #fb9af4;
}

.hero-paragraph {
    font-size: 22px;
    line-height: 30px;
    color: white;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

.get-access-form {
    margin-top: 14%;
}

.get-access-input {
    width: 99%;
    float: right;
    background-color: rgba(161, 128, 163, 0.3);
    border: solid 1px #a180a3;
    color: #f3f3f3;
    height: 50px;
    border-radius: 8px;
    transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
}

.get-access-input:hover,
.get-access-input:focus,
.get-access-input:hover,
.get-access-input:focus,
.get-access-input:focus-visible {
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    height: calc(1.5em + 0.75rem + 10px);
    border: solid 2px #cd89d1;
    background-color: rgba(161, 128, 163, 0.5);
}

.get-access-btn {
    width: 90%;
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid #71b355;
    border-radius: 8px;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    -ms-transition: background-color .3s ease-out;
}

.get-access-btn:hover {
    background-color: #71b355;
    border-color: #71b355;
}

.plural {
    text-transform: lowercase;
}

.subs-cards-wrapper {
    padding: 0;
    background-color: #fff;
}

.subs-desc-bg {
    background-color: #663399;
    border-radius: 8px 8px 0px 0px;
}

.subscription-description {
    color: white;
    text-align: left;
    padding: 1.5rem;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 1.5px;
}

.nav-tabs .nav-link {
    color: #6f6f6f;
}

.nav-tabs .nav-link.active {
    text-transform: uppercase !important;
    color: #663399 !important;
}

nav.show,
nav.colapsing {
    background-color: rgba(0, 0, 0, 0.7) !important;
    width: 100vw !important;
}

.cards-months-length,
.cards-saving {
    margin-bottom: 0;
}

.cards-months-length {
    font-size: 24px;
}

.cards-content p.cards-months-length,
.cards-saving span {
    font-weight: bolder;
    color: #8125a4;
}

.card-scale-img-wrapper,
.cards-saving,
.cards-price,
.cards-currency,
.cards-desc,
.cards-choose-btn-wrapper {
    text-align: center;
}

.cards-price {
    font-size: 70px;
    color: #6f6f6f;
}

.cards-currency {
    margin-top: -20px;
    font-weight: bold;
    color: #6f6f6f;
}

.uppcoming-row {
    background-color: #fdfdfd;
    border-radius: 8px;
    border: 1px solid #00000020;
}

.event-title {
    line-height: 42px !important;
}

.event-table-head td,
.event-table-body td {
    padding: 0;
    text-align: center;
}

.timer {
    font-size: 45px;
    color: #a01700;
    transform: translateY(5px)
}
/**** END home page ****/

/**** Subscription page ****/
.subs-section {
    margin-top: 15%;
}

.subs-desc-bg-attantion {
    background-color: #a01700;
}

.checkout-section {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #e6e5e5;
}

#checkout-form label {
    font-size: 12px;
    font-style: italic;
    color: #8e8e8e;
}

#checkout-form legend {
    color: #a01700;
}

.success-message {
    font-size: 22px;
}

.succed-btn {
    width: 15% !important;
}

/* Title on checkout page */
.titles-icon {
    font-size: 30px;
    color: #81c91e;
}

/* Subscription card on the checkout page */
.choosed-plan {
    margin-top: 95px;
}

/* Choosed plan on checkout page */
.choosed-plan-check {
    text-align: center;
    font-size: 24px;
    color: #f204f6;
    font-weight: bold;
}

/* Choosed plan syles on checkout page */
.mobile-choosed-message {
    font-style: italic;
    text-align: center;
}

/* Period style in checkout message */
.mobile-choosed-message span {
    font-size: 22px;
    color: #28a744;
    font-weight: bolder;
    text-decoration: underline;
}

/* Checkout go back button
for mobile. */
.mb-go-back-btn {
    text-align: center;
}

/* Stripe card div */
#card-element {
    height: 20px !important;
    padding: 11px;
    background-color: white;
    border: 1px solid #ced4d9;
    border-radius: 4px;
}
/**** END subscription page ****/

/**** Contact page ****/
.contact-section {
    margin-top: 15%;
}

.contact-form-wrapper {
    position: relative;
}

.email-message {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.email-message-before {
    color: #663399;
    background-color: #efdeff;
    border-color: #efdeff;
}

.contact-form {
    text-align: left;
}

.contact-form label {
    margin: 10px 0px 0px 0px;
}

.contact-form input,
.contact-form textarea {
    display: inline-block;
    transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
}

.contact-form div {
    min-height: 55px;
}

.contact-form .textarea-wrapper {
    min-height: 100px;
}

.contact-form button{
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 0.8rem;
}

.contact-form input:hover,
.contact-form input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
    font-size: 22px;
    letter-spacing: 1px;
    border: solid 2px #81c91e;
}

.email-loading-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(200 200 200 / 50%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.email-loading-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-94px, -108px);
}
/**** END contact page ****/

/**** FAQ ****/
.faq-section {
    margin-top: 15%;
}

/* P element */
.faq-p {
    margin-bottom: 0;
}

/* a element */
.faq-questions {
    width: 100%;
    text-align: left;
    background-image: url('/media/img/sm/faq-questions-bg.jpg');
    background-repeat: repeat-x;
    background-position: left;
}
/**** END FAQ ****/

/**** Videos ****/
.videos-section {
    background-color: #fcfcfc;
}

.video-title {
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: capitalize;
    color: #1d1c1d;
    transition: color .3s ease-out;
    margin-left: 1rem;
}

.single-video-title {
    padding-left: 15px;
}
/**** END Video ****/

/**** User profile ****/
.last-view-content-row {
    width: 100%;
    margin: 0 auto;
}

/* Removing each video's left and right margins */
.last-view-content-row div.col-12 {
    padding-left: 0;
    padding-right: 0;
}

.list-group {
    width: 90%;
    margin: 5% auto;
}

.list-group a {
    color: #6e6e6e;
    text-decoration: none;
    transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
}

.list-group a:hover {
    color: #9700b5;
}

.allauth-email-mng-btn {
    width: 100% !important;
}

.email-managment-radio {
    height: 12px !important;
    fill: revert !important;
}

.verified,
.unverified,
.primary {
    font-size: 12px;
    color: #a01700;
    font-style: italic;
}
/**** END User Profile ****/

/**** Side menu ****/
.side-menu-btn-wrapper {
    text-align: right;
    margin: 1rem;
}

.default-btn {
    background-color: transparent;
    color: #a15aa5 !important;
    border: 1px solid #d67fcf;
}

#close-side-menu {
    display: none;
    transform: scale(0);
}

.a-side-menu {
    background-color: #fcfcfc;
    border-right: 1px solid #e7e6e6;
    overflow: scroll;
    width: 310px;
    height: 100%;
    position: absolute;
    top: 0px;
    transform: translateX(-310px);
    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    z-index: 99999999999;
    max-width: none;
}

.side-menu-open {
    transform: translateX(0px);
    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
}

.side-menu-close-btn,
.side-menu-close-btn:active,
.side-menu-close-btn:hover {
    border-radius: 50%;
}

.side-menu-scale0 {
    transform: scale(0);
    transition: transform .2s ease-out;
}

.side-menu-scale1 {
    transform: scale(1);
    transition: transform .2s ease-out;
}

.freez-a-side-menu {
    background-image: url('/media/img/general/side-menu-left-borders-bg.jpg');
    background-position: top left;
    background-repeat: repeat-y;
    width: 300px;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: white;
    overflow: scroll;
    z-index: 99999999999;
    max-width: none;
}

.side-menu-section-name {
    display: inline-block;
    width: 88%;
    border-bottom: 1px solid #e7e6e6;
    color: #6e6e6e;
    font-variant: small-caps;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1.2px;
    line-height: 32px;
    padding-left: 0;
}

.side-menu-ul li a {
    color: #6e6e6e;
}

.side-menu-links {
    background-color: #fcfcfc;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.side-menu-links:hover {
    background-color: #f3f3f3;
    padding-left: 30px;
}

.selected_subject {
    background-color: #f3f3f3;
    padding-left: 30px;
}

.badge-light {
    border: 1px solid #e9e9e9;
    color: #949494;
    background-color: #ebedee;
}

.side-menu-bm {
    height: 100px;
}
/**** END Side Menu ****/

/****  Sing in/up ****/
.allauth-page {
    margin-top: 15%;
}

.sing-in-up {
    width: 100%;
    text-align: center;
    padding: 30px;
    border: 1px solid #d0cfcf;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.sing-in-up a {
    color: #82ca1e;
    font-weight: bold;
}

.allauth-form-wrapper {
    padding-left: 3% !important;
    padding-right: 3% !important;
    width: 95%;
    text-align: left !important;
    border: none !important;
}

.allauth-title {
    text-align: center;
    font-size: 38px;
}

.allauth-desk {
    text-align: center !important;
    margin-top: 1rem;
}

.form-tag-wrapper {
    margin-top: 1.5rem;
}

.allauth-form-wrapper .form-tag-wrapper form p:last-of-type {
    margin-bottom: 0;
}

.form-tag-wrapper input {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border .3s ease-out;
}

.form-tag-wrapper input:hover,
.form-tag-wrapper input:focus,
.form-tag-wrapper input:focus-visible,
.form-tag-wrapper input:focus-within {
    border: solid 2px #80c81e;
    background-color: rgba(243, 243, 243, 0.75);
}

.form-tag-wrapper button {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 0.8rem;
}
/* Remember me checkbox */
#id_remember {
    width: 15px;
    height: 15px;
}
/**** END sing in/up ****/

/**** Slider ****/
.slider-owerflow-hidden {
    overflow: hidden;
    position: relative;
    height: 373px;
}

.slides-container {
    position: relative;
    left: 0;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    cursor: grab;
}

.slide {
    width: 100vw;
    user-select: none;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.grabbing {
    cursor: grabbing;
}

.grabbing .slide {
    transform: scale(0.9);
}
/**** End slder ****/


/**** Action buttons ****/
.action-buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(128 128 128 / 60%);
    height: 100%;
    width: 10%;
}

.action-buttons-container div:first-child {
    height: 27%;
}

.action-button {
    height: 33%;
    text-align: center;
    color: white;
    padding: 25% 0;
}

.action-button a {
    color: white;
}

.watched-value a:hover {
    color: white !important;
    cursor: default;
}

.action-buttons-value {
    font-size: 10px;
    display: block;
    margin-top: -2px;
}
/**** END ection buttons ****/

/**** Icons ****/
.icons {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: -8px;
    margin-right: 6px;
    background-size: 40px auto;
    -webkit-background-size: 40px auto;
    -moz-background-size: 40px auto;
    -ms-background-size: 40px auto;
    -o-background-size: 40px auto;
    background-repeat: no-repeat;
    background-position: top left;
}

/* facebook and youtube in the footer.*/
.font-icons {
    font-family: 'Icons';
    font-style: normal;
    font-size: 47px;
}

/* Medium size icons */
.mz-i {
    width: 35px;
    height: 35px;
    background-size: 35px auto;
}

/* Small size icons */
.sz-icons {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-size: 17px auto;
    -webkit-background-size: 17px auto;
    -moz-background-size: 17px auto;
    -ms-background-size: 17px auto;
    -o-background-size: 17px auto;
    background-repeat: no-repeat;
    background-position: top left;
}

/* Extra small icons */
.xs-icons {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-size: 17px auto;
    -webkit-background-size: 17px auto;
    -moz-background-size: 17px auto;
    -ms-background-size: 17px auto;
    -o-background-size: 17px auto;
    background-repeat: no-repeat;
    background-position: top left;
}

/* Small size icons */
.sz-i {
    width: 20px;
    height: 28px;
    background-size: 20px;
    margin-bottom: -11px;
}

/* Single video page icons */
.s-icons {
    width: 20px;
    height: 20px;
    margin-bottom: auto;
    margin-right: auto;
    background-size: 20px auto;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -ms-background-size: 20px auto;
    -o-background-size: 20px auto;
}

/* Green icons */
.gr-i {
    color: #81c91e;
}

/* Gray icons */
.gry-i {
    color: #fbfbfb;
}

.mb-swipe-icon {
    opacity: .4;
    position: absolute;
    bottom: 0;
    right: 10px;
}

/* Add my list gray icon */
.agr-i {
    background-image: url('/media/icons/add-gray.png');
    transition: background-image .3s ease-out;
    -webkit-transition: background-image .3s ease-out;
    -moz-transition: background-image .3s ease-out;
    -ms-transition: background-image .3s ease-out;
    -o-transition: background-image .3s ease-out;
}

/* Hover on my list icon */
.agr-i:hover {
    background-image: url('/media/icons/add-green.png');
}

/* Anatomy icon */
.ai {
    background-image: url('/media/icons/anatomy-icon.png');
}

/* User Profile account icon */
.ac-i {
    background-image: url('/media/icons/account-icon.png');
}

/* Add my list green icon */
.ag-i {
    background-image: url('/media/icons/add-green.png');
}

/* User profile category icon */
.ci {
    background-image: url('/media/icons/cat-side.png');
}

/* Disease icon */
.di {
    background-image: url('/media/icons/diseases-icon.png');
}

/* Down finger icon */
.df-i {
    background-image: url('/media/icons/down-finger.png');
}

/* Exclamation icon */
.ex-i {
    background-image: url('/media/icons/excla-icon.png');
}

/* Upcaming event icon */
.ei {
    background-image: url('/media/icons/upcaming-event-icon.png');
}

/* Like gray icon */
.lgr-i {
    background-image: url('/media/icons/like-gray.png');
    transition: background-image .3s ease-out;
    -webkit-transition: background-image .3s ease-out;
    -moz-transition: background-image .3s ease-out;
    -ms-transition: background-image .3s ease-out;
    -o-transition: background-image .3s ease-out;
}

/* . User profile liked icon */
.lkd-i {
    background-image: url('/media/icons/check-icon.png')
}

/* Hover on like icon */
.lgr-i:hover {
    background-image: url('/media/icons/like-hover-green.png');
}

/* My list icon */
.li {
    background-image: url('/media/icons/mylist-icon.png');
}

/* Like green icon */
.lg-i {
    height: 13px !important;
    background-image: url('/media/icons/like-green.png');
}

/* Missed icon's icon */
.ms-i {
    background-image: url('/media/icons/no-icon.png');
}

/* FAQ icon */
.fi {
    background-image: url('/media/icons/faq-icon.png');
}

/* Footer icons */
.fh-i,
.fv-i,
.fu-i {
    width: 32px;
    height: 32px;
    background-size: 32px;
    margin-top: 6%;
    margin-bottom: 0 !important;
    vertical-align: middle;
}

/* Footer home icon */
.fh-i {
    background-image: url('/media/icons/footer-home-icon.png');
}

/* Footer video icon */
.fv-i {
    background-image: url('/media/icons/footer-video-icon.png');
}

/* Footer user icon */
.fu-i {
    background-image: url('/media/icons/footer-user-icon.png');
}

/* Project icon */
.pi {
    background-image: url('/media/icons/projects-icon.png');
}

/* Subscription icon */
.si {
    width: 45px;
    height: 45px;
    background-size: 45px;
    margin-bottom: -16px;
    background-image: url('/media/icons/subsc-icon.png');
}

/* Swipe icon */
.swp-i {
    width: 30px;
    height: 33px;
    background-size: 30px auto;
    background-image: url('/media/icons/swipe-icon.png')
}

/* Subjects icon */
.sbj-i {
    background-image: url('/media/icons/subject-icon.png');
}

/* User profile setting icon */
.st-i {
    background-image: url('/media/icons/settings-icon.png');
}

/* Search icon */
.sr-i {
    background-image: url('/media/icons/search-icon.png');
}

/* Same category icon */
.sc-i {
    background-image: url('/media/icons/same-cat-icon.png');
    margin-bottom: -12px;
}

/* Single page green icon */
.slg-i {
    background-image: url('/media/icons/like-green.png');
}

/* Single page icon */
.sw-i {
    height: 29px !important;
    background-image: url('/media/icons/watched-icon.png');
}

/* Slider left arrow */
.sll-a {
    background-image: url('/media/icons/slider-left-arrow.png');
}

/* Sliders arrows */
.sll-a,
.slr-a {
    height: 31px;
    height: 31px;
    transition: background-image 0.3s ease-out;
    -webkit-transition: background-image 0.3s ease-out;
    -moz-transition: background-image 0.3s ease-out;
    -ms-transition: background-image 0.3s ease-out;
    -o-transition: background-image 0.3s ease-out;
}

/* Slider left arrow hover */
.sll-a:hover {
    background-image: url('/media/icons/slider-left-arrow-hover.png');
}

/* Slider left arrow */
.slr-a {
    background-image: url('/media/icons/slider-right-arrow.png');
}

/* Slider left arrow hover */
.slr-a:hover {
    background-image: url('/media/icons/slider-right-arrow-hover.png');
}

/* Profile icon */
.ui {
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    background-image: url('/media/icons/user-icon.png');
    opacity: 0.6;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
}

/* Video icon */
.vi {
    background-image: url('/media/icons/video-icon.png');
}

/* Watched icon */
.wi {
    height: 12px !important;
    background-image: url('/media/icons/watched-icon.png');
}
/**** END icons ****/

/**** Extra small devices ****/
@media (max-width: 320px){

    .get-access-form{
        margin-top: 20px !important;
    }

    .hero-paragraph{
        text-align: center;
    }

    .timer{
        font-size: 39px;
    }
}
/**** END Extra small devices ****/

/**** Tablet ****/
@media (min-width: 768px){
    .header {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 0;
        height: 195px;
    }

    .header-content-wrapper {
        padding-top: 2rem;
        height: 240px;
    }

    .logo-lg {
        display: block;
        text-decoration: none;
        width: 90px;
        height: 58px;
        background-image: url('/media/img/md/logo-md.png');
        background-repeat: no-repeat;
    }

    .top-nav {
        margin-top: 1%;
        transform: translateY(0)
    }

    .top-main-menu {
        margin-top: 2%;
        background-color: transparent;
        transform: translateX(0);
    }

    .ui {
        margin-left: 13px;
    }

    /* Logged in desktop header section */
    .hero-section {
        background-image: url('/media/img/md/hero-md-bg.jpg');
    } 

    /* Welcoming text for not logged in users */
    .hero-text-bold {
        font-size: 58px;
        line-height: 82px;
    }

    .hero-paragraph {
        font-size: 24px;
        line-height: 37px;
    }

    .get-access-form .row {
        width: 85%;
        margin: auto;
    }

    .get-access-input {
        width: 100%;
        float: none;
    }

    .get-access-btn {
        width: 100%;
    }

    .example-video-wrapper {
        margin-right: -2%;
    }

    .example-video-wrapper>div {
        padding-right: 1rem !important;
    }

    .subscription-description {
        font-size: 24px;
        line-height: 38px;
        padding: 2rem;
    }

    /* Checkout Card */
    .home-desk-card {
        margin-left: 25px;
        margin-top: 0px;
        background-color: #fffcff;
    }

    .top-and-bottom-block-bg {
        height: 40px;
    }

    .white-section-top-bg {
        background-image: url('/media/img/lg/lg-white-section-top-bg.png');
    }

    .bottom-nav li {
        font-size: 32px;
    }

    .fh-i,
    .fv-i,
    .fu-i {
        width: 15%;
        width: 40px;
        height: 40px;
        background-size: 40px;
    }

    .subs-section {
        margin-top: 0;
    }

    .sing-in-up {
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }

    .faq-section,
    .contact-section,
    .allauth-page {
        margin-top: 50px;
    }

    .allauth-form-wrapper {
        margin-top: 0;
        width: 80% !important;
    }

    .event-table-head td {
        width: calc(100vw / 4);
        text-align: center;
    }

    .timer {
        font-size: 72px;
        text-align: center;
    }

    .swipe-container {
        padding-right: 30px !important;
    }

    .title-devider {
        width: 95%;
    }

    .slider-owerflow-hidden {
        width: 94%;
        margin: auto;
    }

    /* Removing a each video content's left and right margins */
    .last-view-content-row div.col-12 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .video-title {
        margin-left: 0;
    }

    .video-titles {
        height: 36px;
    }

    .side-menu-section-name {
        height: 69px;
    }

    .contact-form button {
        width: 60%;
    }

    .single-video-act {
        width: 11%;
        height: 85%;
        top: auto;
        bottom: 0;
        font-size: 32px;
    }

    /* Single video page icons */
    .s-icons {
        width: 30px;
        height: 30px;
        background-size: 30px auto;
        -webkit-background-size: 30px auto;
        -moz-background-size: 30px auto;
        -ms-background-size: 30px auto;
        -o-background-size: 30px auto;
    }

    .single-video-act small {
        font-size: 16px;
    }

    /* Checkout go back button */
    .go-back-btn {
        width: 87%;
        margin: auto;
        margin-left: 32px;
    }
}
/**** END Tablet ****/

/**** Desktop ****/
@media (min-width: 992px) {
    
    .header {
        height: 240px;
    }

    .header-content-row {
        height: auto;
        margin-top: auto;
    }

    .logo-lg {
        width: 86%;
        height: 92px;
        background-image: url('/media/img/lg/logo-lg.png');
        background-size: 100% 100%;
    }

    .top-main-menu {
        width: 680px;
        margin: auto;
    }

    .hero-section {
        background-image: url('/media/img/lg/hero-bg.jpg');
    }

    .hero-section-content {
        width: 85%;
        margin: auto;
    }

    .hero-text-bold {
        text-align: left;
        margin-top: 22%;
    }

    .hero-paragraph {
        width: 100%;
        text-align: left;
        padding-top: 0;
    }

    .get-access-form {
        text-align: left;
    }

    .get-access-form .row {
        width: 100%;
    }

    .diana-img {
        width: 80%;
    }

    .section-wrapper {
        width: 75%;
        margin: auto;
    }

    .example-title {
        padding-top: 3rem;
    }

    .example-video-wrapper>div {
        padding-right: 1.5rem !important;
    }

    .sub-title {
        padding-top: 3rem;
        margin-left: 0;
    }

    .subscription-description {
        padding: 3rem;
        line-height: 41px;
    }

    /* Cards of home page for not logged in users */
    .home-desk-card {
        width: 90%;
        border-radius: 10px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.05);
    }

    /* Active subscription card */
    #active-card {
        transform: scale(1.1);
    }

    .top-and-bottom-block-bg {
        height: 70px;
    }
    
    .gray-section-top-bg {
        background-image: url('/media/img/lg/lg-grey-section-top-bg.png');
    }

    .gray-section-bottom-bg {
        background-image: url('/media/img/lg/lg-grey-section-bottom-bg.png');
    }

    .white-section-top-bg {
        background-image: url('/media/img/lg/lg-white-section-top-bg.png');
    }

    .white-section-bottom-bg {
        background-image: url('/media/img/lg/lg-white-section-bottom-bg-2.png');
    }

    /* 240px header height, 211px footer, 
       50px section top margin */
    .subs-section,
    .contact-section,
    .allauth-page {
        min-height: calc(100% - 548px);
        -webkit-min-height: calc(100% - 498px);
        -moz-min-height: calc(100% - 498px);
        margin-bottom: 3rem;
    }

    .sing-in-up {
        width: 60%;
    }

    .contact-form button {
        width: 40%;
    }

    .allauth-form-wrapper {
        width: 55% !important;
    }

    .event-desc,
    .event-table-body {
        color: #6f6f6f !important;
    }

    .swipe-container {
        padding-right: 0 !important;
        opacity: .5;
    }

    .title-devider {
        width: 100%;
    }

    .slider-arrows {
        font-size: 60px;
        color: #8c8c8c;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out;
        -o-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
    }

    .slider-arrows:hover {
        color: #538212;
    }

    .slider-owerflow-hidden {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    div.slide:last-child {
        margin-right: 0;
    }

    .a-side-menu {
        height: auto;
        position: static;
        overflow: initial;
        transform: translateX(0);
    }

    .video-title:hover,
    .video-title:focus,
    .video-title:focus-visible .video-title:visited {
        color: #9700b5;
        text-decoration: none;
    }

    .btn-view-all {
        margin-left: 16px;
        margin-bottom: 70px;
    }

    .single-video-title {
        padding-left: 15px;
    }

    .single-video-act {
        width: 7%;
    }

    .footer {
        height: 211px;
        background-color: #320035;
    }


    /* Footer logo */
    .footer-log {
        width: 150px !important;
        height: 50px !important;
        background-image: url('/media/img/lg/footer-logo.png') !important;
    }


    /* Combined styles for text colors */
    .footer-menu .nav-link,
    .footer-categories .nav-link {
        letter-spacing: 1px;
        color: white;
        transition: .2s ease-out;
        -moz-transition: .2s ease-out;
        -o-transition: .2s ease-out;
        -ms-transition: .2s ease-out;
    }

    /* Footer manu */
    .footer-menu .nav-link {
        text-align: right;
    }

    /* Footer manu links hover */
    .footer-menu .nav-link:hover,
    .footer-categories .nav-link:hover {
        color: #b8b8b8;
        font-weight: bold;
    }

    /* Footer vertical devider */
    .footer-devider {
        border-right: 1px solid white;
    }

    /* Footer categories  */
    .footer-categories .nav-link {
        text-align: left;
    } 

    .footer-social .nav-link,
    .user-acount-icon {
        color: #7a618f;
        font-size: 32px;
        border: none;
        opacity: 0.6;
        transition: opacity .2s ease-out;
        -moz-transition: opacity .2s ease-out;
        -o-transition: opacity .2s ease-out;
        -ms-transition: opacity .2s ease-out;

    }

    .footer-social .nav-link:hover,
    .user-acount-icon:hover,
    .ui:hover {
        opacity: 1;
        color: #7a618f;
    }
}
/**** END Desktop *****/