/**  Importing a google fonts **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 16px; 
    background-color: #f3f3f3;
    color: #616161;
}

main.all-wrapper{
    height:100%;
}

/*********  Loading **********/
.loading{
    position: fixed;
    -webkit-position: fixed;
    -moz-position: fixed;
    -o-position: fixed;
    top:0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

#loading_img{
    width: 100%;
}

.hide-loading{
    display: none;
}

/*********** END a Loading ********/

/************** FIRST SECTION **************/
.home-first-section-not-logged-in{
    height: calc(100vh - 40px);
}

/** Styling a welcoming text **/
.welcome-text{
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    line-height: 35px;
}

/** First section description for mobile devices **/
.sm-home-first-section-desc,
.event-desc{
    font-size: 14px;
    line-height: 21px;
    color: white;
    /* margin-top: 20px; */
}

.home-first-section-event-container {
    margin-top: 30px;
}

/**  Settign a background image to first section for mobile devices **/
.home-first-section-not-logged-in,
.sm-home-first-section-logged-in{
    background-image: url('/media/img/sm/sm-home-first-section-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-text span,
.not-logged-in-welcoming span {
    color: #fb9af4;
}

.get-access-btn{
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid #71b355;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.get-access-input{
    background-color: rgba(161, 128, 163, 0.3);
    border: solid 1px #a180a3;
}

/************* END A FIRST SECTION ****************/


.section-wrapper {
    width: 100%;
}

/************* Third Section *********************/
.gray-section{
    background-color: #dcdcdc;
}

/************* End a Third Section ***************/

/***************************************************
****************************************************
***************************************************/



/** General styles for icons **/
.titles-icon{
    font-size: 30px;
    color: #81c91e;
}

/** General styles for titles **/
.titles,
.side-menu-section-name{
    font-family: Quicksand;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 32px;
    color: #6e6e6e;
}

.menu-row{
    height: 90px;
}

.top-header{
    height: 90px;
    background-image: url('/media/img/sm/sm-top-menu-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav.show,
nav.colapsing{
    background-color: rgba(0, 0, 0, 0.7) !important;
    width: 100vw !important;
}


/* 
    Givie a full width to expand all the screen 
    when menu opens on mobile devices
 */
.top-nav{
    padding-bottom: 0;
    padding-top: 6px;
    padding-right: 0;;
    width: 100vw;
}


/* 
    Aligning a burger menu to the right 
    for the not logged users and
*/
.top-nav-not-logged{
    margin-left: -84vw;
}

.top-nav-not-logged ul li{
    padding-left: 72vw;
}

.top-nav-not-logged button{
    margin-left: 84vw;
}

.top-nav-toggle{
    background-color: rgba(37, 0, 40, 0.8);
    margin-left: -16px;
}

.toggleMenuBackground{
    width: 100vw !important;
    margin-top: 6px;
    margin-right: -13px;
}

.dropdown-menu{
    background-color: rgba(37, 0, 40, 0.8);
}

.dropdown-item{
    color: white;
}

.search-wrapper{
    position: relative;
    width: 100%;
}

.padding-0{
    padding: 0;
}

.margin-0{
    margin: 0;
}

.user-acount-icon{
    color: #7a618f;
    font-size: 32px;
}


/** Haburgare Menu **/

.navbar-light .navbar-toggler{
    border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-toggler {
    border-radius: 0;
    padding: 0;
    border: none;
}

/** Overwriting a customb bootstrap's hamburager menu color **/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(161, 126, 163, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/** Search Input Tag **/
.video-search{
    background-color: rgba(161, 128, 163, 0.3);
    border: solid 1px #a180a3;
}

/* Search Button for tablets and lower devices */
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
}



.search-input-col,
.user-icon-col{
    text-align: center;
}

.dropleft .dropdown-toggle::before{
    display: none;
}

/**  Fixing Burger menui's hight because the search box and
     account icon goes down when menu expands down **/
.menu-row{
    height: 92px;
}

.burger-menu-col{
    height: 42px;
}

/** Styling top main menu links for mobile devies  **/
.top-main-menu a{
    font-family: 'Poiret One';
    color: #fff !important;
    text-transform: uppercase;
}

.top-main-menu li{
    padding-left: 20px;
}





/* .sm-home-first-section-video{
    margin-top: 60px;
} */

/* .not-logged-users-home-page-vides-desc{
    color: white;
    font-size: 14px;
    line-height: 21px;
} */

.timer,
.sign-in-up-icon{
    font-size: 45px;
    color: #fc01fe;
}

.timer-title{
    font-size: 18px;
}

.not-logged-timer{
    color: black;
}

.sm-subscription-row{
    background-image: url('/media/img/sm/sm-subscription-block-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.subsc-title,
.subscription-description{
    color: white;
}

.subscriptions-banner{
    padding: 0;
    background-color: #fff;
}

.subsctipsins-cards,
.sm-home-third-section-row,
.sm-home-third-section-col{
    padding: 0;
}

/* Checkout section */
.checkout-section {
    width: 90%;
    margin: auto;
    margin-top: 130px !important;
}

/*  Subscription cards section's top margin  */
.md-cards {
    margin-top: 135px;
}

/* Checkout form labes */
#checkout-form label {
    font-size: 12px;
    font-style: italic;
    color: #8e8e8e;
}

/* Checkout form's filedset */
#checkout-form legend {
    color: #f206f6;
}

/* Checkout titles */
.checkout-titles {
    font-size: 24px;
    margin: 0px 0px 30px 0px;
    text-align: center;
    line-height: 37px;
}

/* Subscription card on the checkout page */
.choosed-plan {
    margin-top: 95px;
}

/* Choosed plan on checkout page */
.choosed-plan-check {
    text-align: center;
    font-size: 24px;
    color: #f204f6;
    font-weight: bold;
}

/* Choosed plan syles on checkout page */
.mobile-choosed-message {
    font-style: italic;
}

/* Period style in checkout message */
.mobile-choosed-message span {
    color: #28a744;
    font-weight: bolder;
    text-decoration: underline;
}

/* Subscription card's background */
.home-desk-card {
    background-color: white;
}


/* Stripe card div */
#card-element {
    padding: 11px;
    background-color: white;
    border: 1px solid #ced4d9;
    border-radius: 4px;
}

.cards-row,
.calendar-row{
    margin: 0;
    padding: 0;
}

.nav-tabs .nav-link.active{
    color: #f204f6;
    font-weight: bold;
}

.nav-link,
.sing-up-in a{
    color: #82ca1e;
    font-weight: bold;
}

/* .first-card-nav-link{
    padding-left: 12%;
} */

.cards-months-length,
.cards-saving span,
.cards-price{
    font-family: Rubik;
}

.cards-months-length,
.cards-saving{
    margin-bottom: 0;
}

/* Subscription Cards Page Title */
.cards-page-title {
    padding-bottom: 28px;
}


.cards-content p.cards-months-length,
.cards-saving span{
    color: #82ca1e;
}

.card-scale-img-wrapper,
.cards-saving,
.cards-price,
.cards-currency,
.cards-desc,
.cards-choose-btn-wrapper{
    text-align: center;
}

.cards-price{
    font-size: 70px;
    color: #6f6f6f;
}

.cards-currency{
    margin-top: -20px;
    font-weight: bold;
    color: #6f6f6f;
}

.cards-choose-btn{
    background-image: url('/media/img/general/cards-choose-btn-bg.jpg');
    background-repeat: repeat-x;
    background-position: left;
}

.sm-home-third-section-row{
    margin: 0;
}

.faq-title{
    font-size: 18px;
}

/* Manipulating with style to expand the background
   of the faq's block */
/* .wrapper-for-blocks-bg,
.faq-block-bottom-bg{
    margin-left: -30px;
    transform: translateX(15px);
} */

.wrapper-for-blocks-bg,
.sections-block,
.subjects-blocks-bg{
    background-color: #dcdcdc;
    
}

.pink-section{
    background-color: #ddbde2;
}

.green-section{
    background-color: #66cd00;
}

/* .home-faq-wrapper{
    width: 86%;
    margin: auto;
} */

/* Styling a div to create a vertical bg effect for section blocks */
.top-and-bottom-block-bg{
    height: 30px;
}

.gray-section-top-bg,
.mylist-top-bg{
    background-image: url('/media/img/sm/gray-section-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pink-section-top-bg{
    background-image: url('/media/img/sm/pink-section-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.white-section-top-bg,
.playlists-top-bg{
    background-image: url('/media/img/sm/white-section-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second type of style for white sections */
.white-section-top-bg-2 {
    background-image: url('/media/img/sm/white-section-top-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.green-section-top-bg{
    background-image: url('/media/img/sm/green-section-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.diseases-top-bg{
    background-image: url('/media/img/sm/diseases-blocks-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gray-section-top-bg-2{
    background-image: url('/media/img/sm/gray-section-top-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gray-section-bottom-bg,
.mylist-bottom-bg{
    background-image: url('/media/img/sm/gray-section-bottom-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pink-section-bottom-bg{
    background-image: url('/media/img/sm/pink-section-bottom-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.white-section-bottom-bg{
    background-image: url('/media/img/sm/white-section-bottom-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second type of bottom beckground for white sections */
.white-section-bottom-bg-2 {
    background-image: url('/media/img/sm/white-section-bottom-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.green-section-bottom-bg{
    background-image: url('/media/img/sm/green-section-bottom-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.diseases-bottom-bg{
    background-image: url('/media/img/sm/diseases-blocks-bottom-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gray-section-bottom-bg-2{
    background-image: url('/media/img/sm/gray-section-bottom-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.faq-questions,
.events-title{
    width: 100%;
    text-align: left;
    background-image: url('/media/img/sm/faq-questions-bg.jpg');
    background-repeat: repeat-x;
    background-position: left;
}


/*********** Calendar ***********/
.faq-questions-p,
.events-p{
    margin-bottom: 0;
}

.showen-month{
    color: #fc01fe;
}

.fa-angle-left,
.fa-angle-right,
.event-day-a-tag{
    color: #65cd00;
}

/* Manipulating with style to expand the background
   of the calendar's block */

/* .table-wrapper-for-blocks-bg,
.calendar-blocks-top-bg,
.calendar-blocks-bottom-bg{
    transform: translateX(29px);
    margin-left: -61px;
} */

.table-wrapper-for-blocks-bg{
    background-color: white;
}

/* .calendar-wrapper{
    padding: 0px 26px 0px 31px;
} */

.calendar-blocks-top-bg{
    background-image: url('/media/img/sm/calendar-blocks-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.calendar-blocks-bottom-bg{
    background-image: url('/media/img/sm/calendar-blocks-bottom-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Making margins between content and a footer manu */
.margin-between-footer-menu-and-content{
    width: 100%;
    height: 60px;
}

.calendar-devider{
    margin: 0;
}


.calendar{
    margin-top: 16px;
}


.weekdays{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
}


.weekdays div{
    font-size: 1,4rem;
    letter-spacing: 0.02rem;
    color: #626262;
    border-right: 1px solid white;
    width: calc(100% / 7);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 5px;
}


.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}


/* Set a border-right to the last element of the week days */
.weekdays div:last-child{
    border-right: 1px solid #e2e2e2;
}


.days{
    margin-bottom: 15px;
}

.days div{
    border: 1px solid #e2e2e2;
    width: calc(100% /7);
    text-align: center;
    padding: 4px;
}


/* Remove a border right to every div tags */
.days div{
    border-right: none;
}


/* Set a border-right to every 7th div tag and */
/* last div tag of the calenar */
.days div:nth-child(7n + 0),
.days div:last-child{
    border-right: 1px solid #e2e2e2;
}


/* Set a border-top to none for every elements */
/* from bottom row */
.days div{
    border-top: none;
}

/* Styling a event day's div element */
.event-day{
    border: 2px solid #67ce00 !important;
    outline: 2px solid #67ce00;
    color: #67ce00;
    font-style: italic;
}

.prev-month,
.next-month{
    color: #c4c4c4;
}


/*********** END a Calendar *****/


/******** Styling a home page for logged in users ***********/
.home-first-section-video-container,
.dia-breadcrumb{
    margin-top: 90px;
}

/* .dia-breadcrumb {
    margin-left: 0 !important;
    margin-right: 0 !important;
} */



.container-for-action-buttons{
    bottom: 11%;
    right: 6%;
}

/* A video likes check */
.added_in_list {
    color: #c0ff80 !important;
}
 
.action-buttons-value{
    font-size: 10px;
    display: block;
    margin-top: -2px;
}


.event-table-head td,
.event-table-body td{
    padding: 0;
    text-align: center;
}

.blocks-top-bg,
.blocks-bottom-bg{
    width: 100%;
}

.videos-switchers{
    font-size: 36px;
}

.feedback-text,
.feedback-form {
    width: 80%;
}

.feedbacks-text{
    font-size: 14px;
}

.feedback-avatar-col,
.feedback-text-col{
    background-color: rgba(255, 255, 255, 0.4);
}

.feedback-avatar-col{
    border-radius: 10px 0px 0px 10px;
}

.feedback-text-col{
    border-radius: 0px 10px 10px 0px;
}

/* .feedbacks-row{
    margin-left: -4px;
    margin-right: -4px;
} */

.feedbacks-avatar{
    border: 3px solid #c0ff80;
    width: 75px;
}

/* .div-for-bottom-margin{
    height: 56px;
} */

.logged-in-users-table{
    padding: 0;
}

.highlight-blocks-subject{
    font-weight: bolder;
    text-decoration: underline;
}


/************* VIDEOS ************/

/* Marging from top to outcome from top menu's overlapping */
.videos-page-wrapper{
    margin-top: 90px;
}

/* Making a line background for category's title and for side menu's title */
.category-names-right-line,
.side-menu-section-name{
    background-image: url('/media/img/general/category-names-right-line.jpg');
    background-position-x: center;
    background-repeat: repeat-x;
}

/* Category's title right line */
.category-names-right-line {
    margin-top: 40px;
}

.videos-title{
    margin-top: 0 !important;
}

.video-title{
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: capitalize;
    color: #1d1c1d;
}

.video-title-devider{
    width: 92%;
}

/* Video By Anamoy's devider */
hr.feedback-devider {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.videos-bottom-bg{
    background-image: url('/media/img/sm/videos-blocks-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb{
    background-color: white;
    margin-top: 15px;
    border-radius: 0px 5px 5px 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}


.breadcrumb-activ-link li a{
    color: #fc01fe !important;
}

.cat-select{
    margin-top: 30px; 
    margin-bottom: 15px;
}


/* A side menu styles BEFORE scrolling a page */

/* General styles for a side menu */
.desk-side-menu,
.a-side-menu {
    background-image: url('/media/img/general/side-menu-left-borders-bg.jpg');
    background-position: top right;
    background-repeat: repeat-y;
    background-color: white;
    overflow: scroll;
    width: 300px;
    position: absolute;
    top: 0px;
    left: -300px;
    z-index: 99999999999;
    max-width: none;

}


/* A side menu styles WHILE scrolling a page */
.freez-a-side-menu{
    background-image: url('/media/img/general/side-menu-left-borders-bg.jpg');
    background-position-y: top left;
    background-repeat: repeat-y;
    width: 300px;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: white;
    overflow: scroll;
    z-index: 99999999999;
    max-width: none;   
}

/* Styling a side menu's section name */
.side-menu-section-name{
    display: inline-block;
    background-position: bottom;
    color: #81c91e !important;
}

.side-menu-ul li a{
    color: #6e6e6e;
}

#a-side-menu-close{
    display: none;
}

.x-sign{
    font-size: 54px;
}


/***** Single Video Page Style *****/
.single-menu-section-top-margin{
    width: 100%;
    height: 94px;
}

.video-desc-wrapper {
    width: 94%;
    margin: auto;
}


/****** Profile *********/

.acc-subs-col  a{
    font-size: 14px;
    color: #66cd00;
}


/********** Loggin *********/
/* Asigning a bootstrap's styles to allauth's templates */
#id_remember{
    display: inline;
    width: 15px;
    height: 15px;
}

.primaryAction,
.form-tag-wrapper form button,
.form-tag-wrapper form input[type=submit]{
    display:block;
    width: 100%;
    color: #fff;
    background-color: #28a745;
    margin:20px 0px 20px 0px;    
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-color: #28a745;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-tag-wrapper form input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.account-content-wrappe{
    max-width: 450px;
    margin: auto;
}

.email-managment-radio{
    all: revert !important;
}

/************* Video Slider ************/

/* 
    Centering a Categories videos content
*/
.last-view-content-row {
    width: 100%;
    margin: 0 auto;
}

/* Removing a each video content's left and right margins */
.last-view-content-row div.col-12 {
    padding-left: 0;
    padding-right: 0;
}



.video-slider-owerflow-hidden{
    overflow: hidden;
    position: relative;
    height: 373px;
}

.sliders-container{
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    cursor: grab;
}

.slide{
    width: 100vw;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.grabbing{
    cursor: grabbing;
}

.grabbing .slide{
    transform: scale(0.9);
}

.swipe-icon{
    top: -27px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    opacity: 0.0;
}

.show-swiping{
    opacity: 0.3;
    transition: opacity 0.6s ease-in-out;
}


/*********** END a Video Slider ********/


/******* Styled for Iphone 5 and similar size devices ********/

@media (max-width: 320px){

    .get-access-btn{
        font-size: 11px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .get-access-form{
        margin-top: 20px !important;
    }

    .sm-home-first-section-video {
        margin-top: 29px;
    }

    .sm-home-first-section-desc{
        text-align: center;
    }

    .welcome-text{
        margin-top: 93px;
    }


    .xs-mt{
        margin-top: 0px !important;
    }

    .welcome-video{
        margin-top: 25px !important;
    }

    .subscription-description{
        text-align: center;
    }

    .timer{
        font-size: 39px;
    }

    .first-card-nav-link {
        padding-left: 6%;
    }

    .home-first-section-event-container{
        margin-top: 18px !important;
    }
}

/*  Styles for Tablet devices */
@media (min-width: 768px){

    /* Category's title right line */
    .category-names-right-line {
        margin-top: 40px;
    }

    /* 
        Centering a Categories videos content
    */
    .last-view-content-row {
        width: 95%;
        margin: auto;
        /* padding-left:32px; */
        /* padding-right: 32px; */
    }

    /* Removing a each video content's left and right margins */
    .last-view-content-row div.col-12 {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Removing a margins to the contente's col */
    .md-remove-margins {
        margin-left: none !important;
        margin-right: none !important;
    }

    /* A side menu */
    .a-side-menu {
        width: 350px !important;
        left: -350px;
        padding-top: 16px;
    }

    /* Increasing a width for freezed manue when scrolling */
    .freez-a-side-menu {
        width: 350px;
    }

    /* Checkout Card */
    .home-desk-card {
        margin-left: 25px;
        margin-top: 0px;
    }

    /* Checkout go back button */
    .go-back-btn {
        width: 87%;
        margin: auto;
        margin-left: 32px;
    }

    .p-for-md {
        padding-left: 48px !important;
    }
    
    .navbar-toggler{
        margin-left: 33px;
    }

    .home-first-section-event-container {
        margin-top: 58px;
    }

    .home-first-section-video-container h3 {
        margin-top: 16px;
    }

    .container-for-action-buttons{
        top: 35%;
    }

    .md-event-desc p, .md-event-desc h3{
        padding-left: 51px !important;
    }

    .md-event-desc p{
        font-size: 19px;
        line-height: 35px;
        margin-top: 32px !important;
    }

    .timer{
        font-size: 72px;
    }

    .video-slider-owerflow-hidden{
        width: 94%;
        margin: auto;
    }

    .titles{
        padding-left: 30px;
    }

    .top-and-bottom-block-bg{
        height: 40px;
    }

    .slide{
        width: calc((100vw / 2) - 50px);
        margin: 0 15px;
    }

    .event-table-head td{
        width: calc(100vw / 4);
        text-align: center;
    }

    .md-title{
        font-size: 34px;
    }

    .feedbacks-content-wrapper {
        width: 96%;
        margin: auto;
    }

    .feedback-text-col p{
        padding-top: 16px;
    }

    .feedback-avatar-col {
        padding-bottom: 11px;
    }

    .feedbacks-avatar {
        margin-left: 50%;
        transform: translateX(-37px);
    }

    /***  For NOT Logged in Users ***/
    .welcome-text{
        font-size: 36px;
        line-height: 54px;
    }

    .sm-home-first-section-desc{
        font-size: 24px;
        line-height: 37px;
    }

    .bottom-nav li {
        font-size: 32px;
    }

    .timer {
        text-align: center;
    }
}


/*** Styles for Desctop Devices ***/

@media (min-width: 992px) { 
    
    /* Styling a selected subject's tiltle in the left side menu */
    .selected_subject {
        color: #f89ff9 !important;
        padding-left: 45px;
        padding-top: 15px;
        text-decoration: underline;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    /* Section devider */
    .section-devider {
        width: 100px;
        height: 0;
        margin: auto;
        /* overflow: hidden; */
        border-top: 1px solid #15a3b8;
    }

    /* A side menu of large devices */
    .a-side-menu {
        position: static;
        overflow: initial;
    }

    /* Breadcrumb Top Margiin */
    .dia-breadcrumb {
        margin-top: 0;
    }

    /* Logo */
    #logo-lg {
        width: 277px;
        height: 92px;
        background-image: url('/media/img/lg/logo-lg.png');
        background-repeat: no-repeat;
    }


    /* Breadcrump top margin on desktop devies */
    .dia-breadcrumb{
        margin-top: 35px !important;
    }


    /* Adding a left margin - View All Buttons */
    .btn-view-all {
        margin-left: 16px;
        margin-bottom: 70px;
    }
    
    /* Adding a left margin - Category Title */
    .category-title-icon {
        margin-left: 32px;
    }

    /* Content's left padding for categories and subjects */
    .cat-sub-content-paddings {
        margin-left: 23px;
    }

    /* Checkout message */
    .checkout-titles {
        text-align: left;
    }

    .home-first-section-video-container {
        margin-top: 400px;
        margin: auto;
    }

    .home-first-section-event-container {
        margin-top: 0;
    }

    .sm-home-first-section-logged-in {
        height: auto !important;
        background-image: none;
    }

    .home-first-section-video-container {
        margin-top: 0;
    }

    .titles {
        color: #6e6e6e !important;
        padding-left: 0 !important;
        margin: 16px 0px 40px 0px;
    }

    /* Increasing a top margin for titles */
    .desk-titles {
        margin-top: 0px !important;
    }

    /* Increasing a top margin for categoy's right line */
    .category-names-right-line {
        margin-top: 0px !important;
    }

    .upcoming-title {
        margin-bottom: 20px !important;
        font-size: 28px;
    }

    .section-wrapper {
        width: 75%;
        margin: auto;
    }

    .event-desc,
    .event-table-body {
        color: #6f6f6f !important;
    }

    .md-event-desc p {
        padding-left: 0px !important;
        margin-top: 0 !important;
    }

    .upcoming-wrapper{
        border: 2px solid #f7f7f7;
        border-radius: 10px;
        background-color: white;
        margin: 20px 0px 0px 0px;
    }

    .uppcoming-row {
        padding: 0px 20px;
    }

    .top-and-bottom-block-bg {
        height: 70px;
    }

    .video-title-devider {
        width: 100%;
    }

    .video-slider-owerflow-hidden {
        margin-left: 0;
        margin-right: 0;
    }

    .lg-col {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .slide{
        width: calc((100vw / 3) - 50px);
    }

    /** Video Slider **/
    .video-slider-owerflow-hidden {
        width: 100%;
    }

    /** Video Arrows For Desktop Devices **/
    .desk-video-switchwer {
        font-size: 60px;
        color: #81c91e;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out;
        -o-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
    }

    .desk-video-switchwer:hover {
        color: #fc01fe;
        
    }

    /* Grey section's top background */
    .gray-section-top-bg {
        background-image: url('/media/img/lg/lg-grey-section-top-bg.png');
    }

    /* Grey section's bottom background */
    .gray-section-bottom-bg {
        background-image: url('/media/img/lg/lg-grey-section-bottom-bg.png');
    }

    /* Pink section's top background color */
    .pink-section-top-bg{
        background-image: url('/media/img/lg/lg-pink-section-top-bg.png');
    }

    /* Pink section's bottom background */
    .pink-section-bottom-bg {
        background-image: url('/media/img/lg/lg-pink-section-bottom-bg.png');
    }

    /* White section's top background */
    .calendar-blocks-top-bg {
        background-image: url('/media/img/lg/lg-white-section-top-bg.png'); 
    }

    /* White section's bottom background */
    .calendar-blocks-bottom-bg {
        background-image: url('/media/img/lg/lg-white-section-bottom-bg.png'); 
    }

    /*
         Second white section's top background,
         Allauth forms top background
     */
    .white-section-top-bg,
    .playlists-top-bg {
        background-image: url('/media/img/lg/lg-white-section-top-bg-2.png');
    }

    /*  
        Second white section's bottom background,
        Allauth forms bottom background
     */
    .white-section-bottom-bg {
        background-image: url('/media/img/lg/lg-white-section-bottom-bg-2.png');
    }

    /* Green section top background */
    .green-section-top-bg {
        background-image: url('/media/img/lg/lg-green-section-top-bg.png');
    }

    /* Green section bottom background */
    .green-section-bottom-bg {
        background-image: url('/media/img/lg/lg-green-section-bottom-bg.png');
    }

    /* Second gray section's top backgorund */
    .gray-section-top-bg-2 {
        background-image: url('/media/img/lg/lg-grey-section-top-bg-2.png');
    }

    /* Second gray section's bottom backgorund */
    .gray-section-bottom-bg-2 {
        background-image: url('/media/img/lg/lg-grey-section-bottom-bg-2.png');
    }

    /* Footer */
    .footer {
        background-color: #320035;
    }

    /* Footer logo */
    .footer-log {
        width: 150px !important;
        height: 50px !important;
        background-image: url('/media/img/lg/footer-logo.png') !important;    
    }


    /* Combined styles for text colors */
    .footer-menu .nav-link,
    .footer-categories .nav-link,
    .footer-social .nav-link {
        color: white; 
    }

    /* Footer manu */
    .footer-menu .nav-link {
        text-align: right;
    }

    /* Footer manu links hover */
    .footer-menu .nav-link:hover,
    .footer-categories .nav-link:hover,
    .footer-social .nav-link:hover {
        color: #dcdcdc;
    }

    /* Footer vertical devider */
    .footer-devider {
        border-right: 1px solid white;
    }

    /* Footer categories  */
    .footer-categories .nav-link {
        text-align: left;
    }

    /* Footer social links */
    .footer-social .nav-link{
        font-size: 28px;
    }

    /* Logged in desktop header section */
    .logged-in-desk-header-section {
        width: 100%;
        height: 85%;
        background-image: url('/media/img/lg/logged-in-desk-header-bg.jpg');
        background-repeat: no-repeat;
        background-position: cover;
    }

    /* Welcoming text for not logged in users */
    .not-logged-in-welcoming {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 54px;
    }

    /* Button for not logged users */
    .wel-btn {
        width: 158px;
    }


    /* Div for margin from the top */
    .top-menu-margin {
        height: 240px;
    }


    /* 
        Firts section content wrapper for the
        not logged users
    */

    .not-logged-section-wrapper {
        width: 85%;
        margin: auto;
    }

    /* Diana's Image */
    .diana-img {
        margin-top: -11px;
    }


    /* Videos for home page for not logged in users */
    .home-page-videos {
        margin-top: -80px;
    }

    /* Section wrapper of home page for not logged in users */
    .section-wrapper-no-logged {
        width: 85%;
        margin: auto;
    }


    /* Cards of home page for not logged in users */
    .home-desk-card {
        width: 90%;
        border-radius: 10px;
        box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.05);
        -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.05);
        -o-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.05);
    }

    /* Active subscription card */
    #active-card {
        transform: scale(1.1);
    }

    /* Banner background for desktop devices */
    .sm-subscription-row{
        background-image: url('/media/img/lg/banner-lg-bg.png');
        background-position: bottom;
    }


    /* Event title margin */
    .timer-title {
        margin: 0 !important;
    }

    /* Three videos row's right margin */
    .three-videos-row {
        margin-right: -50px;
    }

    /* Subscription description */
    .subscription-description,
    .desk-event-description {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 1.5px;
    }

    /* Desktop banner section */
    .desk-banner {
        margin-top: 100px;
    }

    /* A top margin of the cards */
    .lg-cards {
        margin: 77px 0px 100px 0px;
    }

    /* Divider between cards and banner home page */
    .card-divider {
        text-align: center;
    }

    /* Titles for playlists
    .playlist-titles {
        margin: 0 !important;
    } */



}

/*** Header Styles ***/

.desk-header{
    width: 100%;
    height: 240px;
    background-image: url('/media/img/lg/lg-header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.header-content-wrapper{
    width: 85%;
    height: 240px;
    margin: auto;
    border: 1px solid transparent;
}

/* Menu styles */
.desk-menu{
    letter-spacing: 5px;
}

.desk-menu li {
    padding: 0px 5px;
    margin: 0px 10px;
}

.desk-menu li.active,
.mb-active {
    border-bottom: 1px solid #fb9af4;
}

.desk-menu a:hover {
    color: #fb9af4;
}





