{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class='row section-wrapper checkout-section no-gutters mt-5 mb-5'>
        <div class='col-12 col-md-7 col-lg-8'>
            <div class="email-message alert alert-info" role="alert" style='text-align: center;'>
                In order to finish subscription please fill the following form
            </div>
            <p class='mobile-choosed-message d-md-none'>
                You have choosed <span> {{ current_card.price }} EUR </span> plan.                           
            </p>
            <p class='d-md-none mb-go-back-btn'>
                <a class="d-md-none btn btn-outline-success" href="{% url 'cards' %}" role="button">Go Back</a>
            </p>
             <form action="{% url 'success' %}" method="POST" id="checkout-form" class='contact-form'>
                {% csrf_token %}

                <fieldset class="rounded mb-3 subs-elements">
                    <legend class="fieldset-label small w-auto">Your Details</legend>
                    {{  sub_form.full_name | as_crispy_field }}
                    {{  sub_form.email | as_crispy_field }}
                    {{  sub_form.phone_number | as_crispy_field }}
                </fieldset>

                <!-- Stripe Card -->
                <fieldset class="mt-3" style='height: 104px'>
                    <legend class="fieldset-label small w-auto">Payment</legend>

                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    
                </fieldset>

                <!-- Hidden input elements for subscription -->
                <input type="hidden" name="plan_id" value="{{plan_id}}" >
                <input type="hidden" name="payment_intent_id" value="{{payment_intent_id}}" >
                <input type="hidden" name="customer_email_address" value="{{customer_email_address}}" >
                

                <!-- Subscription Button -->
                <button type="submit" class="contact-button filled-button btn btn-lg"
                        name="subscribe" 
                        value="subscribe"
                        id="submit-button">
                    Subscribe
                </button>

                {% comment %} <!-- Back to the subscription's plans -->       
                <a class="btn btn-info d-md-none float-right" href="{% url 'cards' %}" role="button">Go Back</a>
            {% endcomment %}
            </form>
        </div>
        <div class='col-0 col-md-5 col-lg-4 d-none d-md-block'>
            
            <div class="choosed-plan cards-content home-desk-card">
                <h3 class='choosed-plan-check pt-4 pb-3'> You Have Choosed: </h3>
                <p class="cards-months-length text-uppercase text-center">
                    {{ current_card.period }}
                </p>

                <p class="cards-saving mt-2"> 
                    Save 
                    <span>
                        {{ current_card.saving }}
                    </span> 
                    Euros 
                </p>
                <div class="cards-price"><strong> {{ current_card.price }} </strong></div>
                <div class="cards-currency"><span>EUR</span></div>
                <p class="cards-desc mt-3 ml-3 mr-3 pb-4">
                    You will get full access to all videos + events
                </p>
            </div>

            <a href="{% url 'cards' %}" class="go-back-btn btn btn-outline-success btn-lg" 
               role="button">
                 Go Back
            </a>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    {{ customer_email_address|json_script:"customer_email_address" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
    <script>
        
        // Align subsccription elements middle of the parrent element
        let subsElms = document.querySelectorAll('.subs-elements div div');
        for(let subsElm of subsElms){
            subsElm.classList.add('row', 'no-gutters', 'align-items-center');
        }
    </script>
{% endblock %}