{% extends 'base.html' %}
{% block content %}
    <section class='row section-wrapper checkout-section mt-5 no-gutters'>
        <div class='col-12 col-md-7 col-lg-8'>
            <h3 class='checkout-titles'>
                <i class="fas fa-exclamation titles-icon mr-3"></i>
                In order to finish subscription please fill the following form
            </h3>
            <p class='mobile-choosed-message d-md-none'>
                You have choosed <span> {{ current_card.price }} EUR </span> plan.                           
            </p>
             <form action="" method="GET" id="checkout-form">
                {% csrf_token %}
                {{  sub_form.full_name | as_crispy_field }}
                {{  sub_form.email | as_crispy_field }}
                {{  sub_form.phone_number | as_crispy_field }}
                {{  sub_form.country | as_crispy_field }}
                {{  sub_form.postcode | as_crispy_field }}
                {{  sub_form.town_or_city | as_crispy_field }}
                {{  sub_form.street_address1 | as_crispy_field }}
                {{  sub_form.street_address2 | as_crispy_field }}
                <button type="submit" class="btn btn-success" name="sbscribe" 
                        value="subscribe">Subscribe</button>
                <a class="btn btn-info d-md-none float-right" href="{% url 'cards' %}" role="button">Go Back</a>
            </form>
        </div>
        <div class='col-0 col-md-5 col-lg-4 d-none d-md-block'>
            
            <div class="choosed-plan cards-content home-desk-card">
                <h3 class='choosed-plan-check pt-4 pb-3'> You Have Choosed: </h3>
                <p class="cards-months-length text-uppercase text-center">
                    {{ current_card.period }}
                </p>
                <div class="card-scale-img-wrapper">
                    <img src="../../media/img/sm/mb-home-card-scale.png" alt="Scale" >
                </div>
                <p class="cards-saving mt-2"> 
                    Save 
                    <span>
                        {{ current_card.saving }}
                    </span> 
                    Euros 
                </p>
                <div class="cards-price"><strong> {{ current_card.price }} </strong></div>
                <div class="cards-currency"><span>EUR</span></div>
                <p class="cards-desc mt-3 ml-3 mr-3 pb-4">
                    You will get full access to all videos + events
                </p>
            </div>

            <a href="{% url 'cards' %}" class="go-back-btn btn btn-info btn-lg active d-none d-md-block" role="button">Go Back</a>
        </div>
    </section>
{% endblock %}