{% extends "base.html"%}
{% block content %}
<section class="contact-section">
    <div  class='section-wrapper contact-form-wrapper sing-in-up'>
        <div class="success-message alert alert-info" role="alert">
           Your subscription succeeded and now you can access to all videos.
        </div>
        <a href="{% url 'videos' %}" class="succed-btn filled-button btn btn-success btn-lg"
                    role="button" aria-pressed="true">
            Videos
        </a> 
    </div>
</section>
{% endblock content %}