{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<!-- Email Confiramtion 's Page Wrapper -->
    <div class="container-fluid videos-page-wrapper">
        <!-- Email Confiramtion's Section -->
        <section class="row">

            <div class="col-12">
                <div class="row mb-3">

                    <div class="col-12 pl-0">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Email Confiramtion</li>
                            </ol>
                        </nav>
                        <!-- END a breadcrumb -->
                    </div>
                </div>
            </div>    

            <!-- END a Email Confiramtion -->

            <!-- Email Confiramtion's Top Background -->
            <div class="top-and-bottom-block-bg blocks-top-bg  playlists-top-bg"> &nbsp; </div>


            <!-- Email Confiramtion's Block -->
            <div class="col-12 bg-white">
                <div class="account-content-wrappe">
                    <div class="sections-content-wrapper">
                        <!-- Email Confiramtion's Title Block -->
                        <div class="row">
                            <!-- Title -->
                            <div class="col-auto">
                                <h3 class="titles videos-title mr-2">{% trans "Confirm E-mail Address" %}</h3>
                            </div>

                            <!-- Title's Right Line -->
                            <div class="col align-self-center mt-2 category-names-right-line">
                                &nbsp;
                            </div>

                            <!-- Div for right margin -->
                            <div class="col-1">&nbsp;</div>

                        </div>
                        <!-- END a Email Confiramtion's Title Block -->

                        <div class="row mt-3 margin-0">
                            <!-- Email Confiramtion Col  -->
                            <div class="col-12 padding-0 position-relative">

                                <p>{% trans "Confirm E-mail Address" %}</p>
                                <div class="form-tag-wrapper">
                                    {% if confirmation %}

                                        {% user_display confirmation.email_address.user as user_display %}

                                        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                                        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                        {% csrf_token %}
                                            <button type="submit">{% trans 'Confirm' %}</button>
                                        </form>

                                        {% else %}

                                        {% url 'account_email' as email_url %}

                                        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                                    {% endif %}
                                </div>

                            </div>
                            <!-- END a Email Confiramtion Col -->
                        </div>
                    </div>
                 </div> 
            </div>
            <!-- END Email Confiramtion's Block -->

            <!-- Block's Bottom Background -->
            <div class="top-and-bottom-block-bg blocks-bottom-bg videos-bottom-bg"> &nbsp; </div>



        </section>
        <!-- END a Email Confiramtion's Section -->
    </div>
    <!-- END a Email Confiramtion's Page Wrapper -->

{% endblock %}


{% comment %} {% block content %}
<h1>{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %} {% endcomment %}
