{% extends "../base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

<section class="mt-5 mb-5 allauth-page sing-in-up section-wrapper">
    <div class="allauth-form-wrapper sing-in-up">

        <h3 class="allauth-title titles">
            {% trans "Sign In" %}
        </h3>

        <p class="allauth-desk">
            {% blocktrans %}
                If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.
            {% endblocktrans %}
        </p>

        <div class="form-tag-wrapper">
            <form class="login" method="POST" action="{% url 'account_login' %}">

                {% csrf_token %}
                {{ form.as_p }}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                    class="form-control" value="{{ redirect_field_value }}" />
                {% endif %}

                <a class="button secondaryAction"  href="{% url 'account_reset_password' %}">
                    {% trans "Forgot Password?" %}
                </a>

                <button class="filled-button mt-5 btn btn-outline-success btn-lg" type="submit">
                    {% trans "Sign In" %}
                </button>
                
            </form>
        </div>
    </div>
</section>

{% endblock %}
