{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<section class="mt-5 mb-5 allauth-page sing-in-up section-wrapper">
    <div class="allauth-form-wrapper sing-in-up">

        <h3 class="allauth-title titles">
            {% trans "Sign Out" %}
        </h3>

        <p class="allauth-desk">
            {% trans 'Are you sure you want to sign out?' %}
        </p>

        <div class="form-tag-wrapper">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {{ form.as_p }}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}"
                           class="form-control" value="{{ redirect_field_value }}" />
                {% endif %}
                
                <button class="filled-button mt-5 btn btn-outline-success btn-lg" type="submit">
                    {% trans 'Sign Out' %}
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
