{% extends "../base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="mt-5 mb-5 allauth-page sing-in-up section-wrapper">
    <div class="allauth-form-wrapper sing-in-up">

        <h3 class="allauth-title titles">
            {% trans "Change Password" %}
        </h3>

        <p class="allauth-desk mt-4">
            {% trans 'Your password is now changed.' %}
        </p>

    </div>
</section>
{% endblock %}
{% comment %} 
{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
{% endblock %} {% endcomment %}
