{% extends "../base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class='section-wrapper'>
    <!-- Password Reset's Page Wrapper -->
    <div class="container-fluid videos-page-wrapper">
        <!-- Password Reset's Section -->
        <section class="row">

            <div class="col-12">
                <div class="row mb-3">

                    <div class="col-12 pl-0">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</li>
                            </ol>
                        </nav>
                        <!-- END a breadcrumb -->
                    </div>
                </div>
            </div>    

            <!-- END a Password Reset's -->

            <!-- Password Reset's Top Background -->
            <div class="top-and-bottom-block-bg blocks-top-bg  playlists-top-bg"> &nbsp; </div>


            <!-- Password Reset's's Block -->
            <div class="col-12 bg-white">
                <div class="account-content-wrappe">
                    <div class="sections-content-wrapper">
                        <!-- Password Reset's Title Block -->
                        <div class="row">
                            <!-- Title -->
                            <div class="col-auto">
                                <h3 class="titles videos-title mr-2">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
                            </div>

                            <!-- Title's Right Line -->
                            <div class="col align-self-center mt-2 category-names-right-line">
                                &nbsp;
                            </div>

                            <!-- Div for right margin -->
                            <div class="col-1">&nbsp;</div>

                        </div>
                        <!-- END a Password Reset's Title Block -->

                        <div class="row mt-3 margin-0">
                            <!-- Password Reset's Col  -->
                            <div class="col-12 padding-0 position-relative">

                                <p>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</p>

                                <div class="form-tag-wrapper">
                                 {% if token_fail %}
                                    {% url 'account_reset_password' as passwd_reset_url %}
                                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                {% else %}
                                    {% if form %}
                                        <form method="POST" action="{{ action_url }}">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" name="action" value="{% trans 'change password' %}"/>
                                        </form>
                                    {% else %}
                                        <p>{% trans 'Your password is now changed.' %}</p>
                                    {% endif %}
                                {% endif %}
                                </div>

                            </div>
                            <!-- END a Password Reset's Col -->
                        </div>
                    </div>
                 </div> 
            </div>
            <!-- END Password Reset's Block -->

            <!-- Block's Bottom Background -->
            <div class="top-and-bottom-block-bg blocks-bottom-bg videos-bottom-bg"> &nbsp; </div>



        </section>
        <!-- END a Password Reset's's Section -->
    </div>
    <!-- END a Password Reset's Page Wrapper -->
</div>
{% endblock %}

{% comment %} {% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %} {% endcomment %}
