{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="mt-5 mb-5 allauth-page sing-in-up section-wrapper">
    <div class="allauth-form-wrapper sing-in-up">

        <h3 class="allauth-title titles">
            {% trans "Change Password" %}
        </h3>

        <div class="form-tag-wrapper">
            <form class="signup password_change" id="signup_form" 
                  method="post" action="{% url 'account_change_password' %}">

                {% csrf_token %}
                {{ form.as_p }}

                <button  class="filled-button mt-5 btn btn-outline-success btn-lg" 
                         type="submit" style="width: 100%">
                   {% trans "Change Password" %}
                </button>

            </form>
        </div>
    </div>
</section>
{% endblock %}

{% comment %} {% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %} {% endcomment %}
