{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<section class="mt-5 mb-5 allauth-page sing-in-up section-wrapper">
    <div class="allauth-form-wrapper sing-in-up">

        <h3 class="allauth-title titles">
            {% trans "Set Password" %}
        </h3>

        <p class="allauth-desk mt-4">
            Here you can set a your password.
        </p>
    
        <div class="form-tag-wrapper">
            <form method="POST" action="{% url 'account_set_password' %}" 
                  class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button  class="filled-button mt-5 btn btn-outline-success btn-lg" 
                         type="submit">
                   {% trans 'Set Password' %}
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% comment %} {% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %} {% endcomment %}
