{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<!-- Change Password's Page Wrapper -->
    <div class="container-fluid videos-page-wrapper">
        <!-- Change Password's Section -->
        <section class="row">

            <div class="col-12">
                <div class="row mb-3">

                    <div class="col-12 pl-0">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                            </ol>
                        </nav>
                        <!-- END a breadcrumb -->
                    </div>
                </div>
            </div>    

            <!-- END a Change Password -->

            <!-- Change Password's Top Background -->
            <div class="top-and-bottom-block-bg blocks-top-bg  playlists-top-bg"> &nbsp; </div>


            <!-- Change Password's Block -->
            <div class="col-12 bg-white">
                <div class="account-content-wrappe">
                    <div class="sections-content-wrapper">
                        <!-- Change Password's Title Block -->
                        <div class="row">
                            <!-- Title -->
                            <div class="col-auto">
                                <h3 class="titles videos-title mr-2">{% trans "Change Password" %}</h3>
                            </div>

                            <!-- Title's Right Line -->
                            <div class="col align-self-center mt-2 category-names-right-line">
                                &nbsp;
                            </div>

                            <!-- Div for right margin -->
                            <div class="col-1">&nbsp;</div>

                        </div>
                        <!-- END a LogChange Passwordout's Title Block -->

                        <div class="row mt-3 margin-0">
                            <!-- Change Password Col  -->
                            <div class="col-12 padding-0 position-relative">

                                <p>{% trans 'Change Password' %}</p>
                                <div class="form-tag-wrapper">
                                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" name="action">{% trans "Change Password" %}</button>
                                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                    </form>
                                </div>

                            </div>
                            <!-- END a Change Password Col -->
                        </div>
                    </div>
                 </div> 
            </div>
            <!-- END Change Password's Block -->

            <!-- Block's Bottom Background -->
            <div class="top-and-bottom-block-bg blocks-bottom-bg videos-bottom-bg"> &nbsp; </div>



        </section>
        <!-- END a Change Password's Section -->
    </div>
    <!-- END a Change Password's Page Wrapper -->

{% endblock %}

{% comment %} {% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %} {% endcomment %}
