{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<!-- Set Password's Page Wrapper -->
    <div class="container-fluid videos-page-wrapper">
        <!-- Set Password's Section -->
        <section class="row">

            <div class="col-12">
                <div class="row mb-3">

                    <div class="col-12 pl-0">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Set Password</li>
                            </ol>
                        </nav>
                        <!-- END a breadcrumb -->
                    </div>
                </div>
            </div>    

            <!-- END a Set Password -->

            <!-- Set Password's Top Background -->
            <div class="top-and-bottom-block-bg blocks-top-bg  playlists-top-bg"> &nbsp; </div>


            <!-- Set Password's Block -->
            <div class="col-12 bg-white">
                <div class="account-content-wrappe">
                    <div class="sections-content-wrapper">
                        <!-- Set Password's Title Block -->
                        <div class="row">
                            <!-- Title -->
                            <div class="col-auto">
                                <h3 class="titles videos-title mr-2">{% trans "Set Password" %}</h3>
                            </div>

                            <!-- Set Password's Right Line -->
                            <div class="col align-self-center mt-2 category-names-right-line">
                                &nbsp;
                            </div>

                            <!-- Div for right margin -->
                            <div class="col-1">&nbsp;</div>

                        </div>
                        <!-- END a Set Password's Title Block -->

                        <div class="row mt-3 margin-0">
                            <!-- Set Password Col  -->
                            <div class="col-12 padding-0 position-relative">

                                <p>{% trans 'Set Password' %}</p>
                                <div class="form-tag-wrapper">
                                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                                    </form>
                                </div>

                            </div>
                            <!-- END a Set Password Col -->
                        </div>
                    </div>
                 </div> 
            </div>
            <!-- END Set Password's Block -->

            <!-- Block's Bottom Background -->
            <div class="top-and-bottom-block-bg blocks-bottom-bg videos-bottom-bg"> &nbsp; </div>



        </section>
        <!-- END a Set Password's Section -->
    </div>
    <!-- END a Set Password's Page Wrapper -->

{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
