{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}


{% block content %}
<section class="mt-5 mb-5 allauth-page sing-in-up section-wrapper">
    <div class="allauth-form-wrapper sing-in-up">

        <h3 class="allauth-title titles">
            {% trans "Sign Up Closed" %}
        </h3>

        <p class="allauth-desk mt-4">
            {% trans "We are sorry, but the sign up is currently closed." %}
        </p>

        <a href="{% url 'home' %}"  class="filled-button mt-5 btn btn-outline-success btn-lg" 
            type="submit" style="width: 100%">
            Back To Home Page      
        </a>
    </div>
</section>
{% endblock %}

{% comment %} {% block content %}
<h1>{% trans "Sign Up Closed" %}</h1>

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock %} {% endcomment %}
