{% extends "../base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}


{% block content %}
<div class='section-wrapper'>
    <!-- Sign Up's Page Wrapper -->
    <div class="container-fluid videos-page-wrapper">
        <!-- Sign Up's Section -->
        <section class="row">

            <div class="col-12">
                <div class="row mb-3">

                    <div class="col-12 pl-0">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                            </ol>
                        </nav>
                        <!-- END a breadcrumb -->
                    </div>
                </div>
            </div>    

            <!-- END a Sign Up -->

            <!-- Sign Up's Top Background -->
            <div class="top-and-bottom-block-bg blocks-top-bg  playlists-top-bg"> &nbsp; </div>


            <!-- Sign Up's Block -->
            <div class="col-12 bg-white">
                <div class="account-content-wrappe">
                    <div class="sections-content-wrapper">
                        <!-- Sign Up's Title Block -->
                        <div class="row">
                            <!-- Title -->
                            <div class="col-auto">
                                <h3 class="titles videos-title mr-2">{% trans "Sign Up" %}</h3>
                            </div>

                            <!-- Title's Right Line -->
                            <div class="col align-self-center mt-2 category-names-right-line">
                                &nbsp;
                            </div>

                            <!-- Div for right margin -->
                            <div class="col-1">&nbsp;</div>

                        </div>
                        <!-- END a Sign Up's Title Block -->

                        <div class="row mt-3 margin-0">
                            <!-- Sign Up Col  -->
                            <div class="col-12 padding-0 position-relative">

                                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                                <div class="form-tag-wrapper">
                                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                    {% endif %}
                                    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                                </form>
                                </div>

                            </div>
                            <!-- END a Sign Up Col -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Sign Up's Block -->

            <!-- Block's Bottom Background -->
            <div class="top-and-bottom-block-bg blocks-bottom-bg videos-bottom-bg"> &nbsp; </div>



        </section>
        <!-- END a Sign Up's Section -->
    </div>
    <!-- END a Sign Up's Page Wrapper -->
</div>
{% endblock %}

{% comment %} {% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %} {% endcomment %}
