{% extends "base.html" %}
{% load static %}
{% load video_post_tags %}

{% block content %}

    {% if request.user.is_authenticated %}

        <!-- Side menu opene button for tablets and mobile devices -->
        <div class="row d-lg-none no-gutters section-wrapper">
            <div class="col col-lg-0">&nbsp;</div>
            <div class="col-4 md-side-menu-btn">
                <button class="default-btn btn" 
                        id="open-side-menu">
                    Categories
                </button>
            </div>
        </div>

        <!-- This is a HTML fot DESKTOP devices -->
        <section class="row videos-section section-wrapper no-gutters">
        
            <!-- Side menu -->
            <div class="pt-3 a-side-menu col-3" id="a-side-menu">

                <!-- Parsing a url and geting a current subject's name -->
                {% current_subj_name request.get_full_path as current_subj_name %}
            
                <ul class="nav flex-column side-menu-ul">
                    <!-- Categories's list -->
                    {% for category in categories %}

                        <!-- Category title -->
                        {% if forloop.counter0 == 0 %}
                            <li class="nav-item">
                        {% else %}
                            <li class="nav-item mt-4">
                        {% endif %}
                                <!-- Title -->
                                <a href="{% url 'videos' %}?category={{ category.name }}" 
                                    class="side-menu-section-name nav-link ml-3">

                                    <!-- Icon -->
                                    <img src="{{ MEDIA_URL }}/{{ category.src }}" 
                                        width="45px" class="pr-2" alt="Video's Category's Icon">
                                    {{ category.name }}
                                </a>
                            </li>

                        <!-- Subjects names -->
                        {% for subject in subjects %}
                            {% if subject.category ==  category %}
                                <li class="nav-item">
                                    <a href="{% url 'videos' %}?subject={{ subject.name }}" 
                                            {% if subject.name == current_subj_name %} 
                                                class="selected_subject nav-link"
                                            {% else %}
                                                class="side-menu-links nav-link" 
                                            {% endif %}>

                                        {{ subject.friendly_name }}
                                        <span class="badge ml-2 badge-light"> 
                                            {{ subject.posts_count }}
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    
                    {% endfor %}
                    <div class="side-menu-bm"></div>
                </ul>

            </div>

            <!-- Videos by categories or by subjects -->
            {% if videos_by_categories or videos_by_subjects %}

                <!-- Check if it is rather by category or by subject -->
                {% if videos_by_categories %}
                    {% categorized videos_by_categories as categorized %}
                {% elif videos_by_subjects %}
                    {% categorized videos_by_subjects as categorized %}
                {% endif %}

                <div class="col-12 col-lg-9">
                    <!-- Grab categories -->
                    {% for category in categorized %}

                        <!-- Category title -->
                        <h3 class="container-fluid video-titles titles mt-4 pl-3">
                            <!-- Icon -->
                            <img src="{{ MEDIA_URL }}/{{ category.src }}" 
                                        width="45px" class="pr-2" alt="Video's Category's Icon">
                            <!-- Title -->
                            {{ category.friendly_name }}
                        </h3>
                        <!-- Title under line-->
                        <hr class="video-title-devider mt-4">
                        
                        <!-- Content Section -->
                        <div class='last-view-content-row row bg-white'>
                            <!-- Grab videos for current category -->
                            {% for video_by_category in videos %}

                                <!-- Determine rather it is
                                     a category's or subject's videos -->
                                {% if videos_by_categories %}
                                    {% video_type video_by_category.category as video_type %} 
                                {% elif videos_by_subjects %} 
                                    {% video_type video_by_category.subjects as video_type %}   
                                {% endif %}

                                <!-- Grab current video type -->
                                {% if video_type == category %}
                                    <div class='col-12 col-md-4'>
                                        
                                        <!-- Single video title -->
                                        <h3 class="mt-2 bycat-title"> 
                                            <a href="{% url 'single_video' video_by_category.id %}" 
                                                class="video-title "> {{ video_by_category.title }} 
                                            </a>
                                        </h3>
                                            
                                        <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                                            
                                            <!-- Video frame -->
                                            <iframe class="embed-responsive-item" src="{{ video_by_category.content }}" 
                                                    allowfullscreen>
                                            </iframe>
                
                                            <!-- Action Buttons -->
                                            <div class="action-buttons-container">

                                                <!--  Add to my list -->
                                                <div class="action-button" data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" title="My List">
                                                    <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=mylist">
                                                        
                                                        {% if video_by_category in videos_in_mylist %}
                                                            <i class="added_in_list fas fa-plus-square"></i>
                                                        {% else %}
                                                            <i class="fas fa-plus-square"></i>
                                                        {% endif %}
                                                        
                                                    </a>
                                                </div>
                                                
                                                <!-- Like -->
                                                <div class="action-button" data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" title="Like">

                                                    <!-- Checking if a user has already liked current video -->
                                                    {% if video_by_category in videos_in_likes %}
                                                        <i class="added_in_list fas fa-check"></i>
                                                    {% else %}
                                                        <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=like" 
                                                            class="">
                                                            <i class="far fa-thumbs-up"></i>
                                                        </a>
                                                    {% endif %}
                                                    
                                                
                                                    <!-- Total like -->
                                                    <small class=" action-buttons-value">   
                                                        {% if video_by_category.liked == None %}
                                                            ( 0 )
                                                        {% else %}
                                                            (+ {{ video_by_category.liked }} )
                                                        {% endif %}
                                                    </small>
                                                </div>

                                                <!-- Watched -->
                                                <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" title="Watched">
                                                    <a href="#">
                                                        <i class="far fa-eye"></i>
                                                    </a><small class="action-buttons-value">(247)</small>
                                                </div>   
                                            </div>
                                        </div>

                                        <!-- Video's Description -->
                                        <p class="container-fluid mt-3 position-relative">
                                            {{ video_by_category.description }}
                                        <p>
                                    </div>

                                {% endif %}

                            {% endfor %} 
                        </div>
                    {%  endfor %}
                </div>
            {% endif %}

            <!-- Videos by search -->
            {% if search_results %}
                <div class="col-12 col-lg-9">

                    <!-- Category title -->
                    <h3 class="container-fluid video-titles titles mt-4 pl-3"> 
                        <img src="{{ MEDIA_URL }}/icons/icon.png" 
                        width="45px" class="pr-2 d-md-inline category-title-icon" 
                        alt="Video's Category's Icon"> 
                        Search result
                    </h3>
                    <!-- Title under line-->
                    <hr class="video-title-devider mt-4">
                    
                    <!-- Content Section -->
                    <div class='last-view-content-row row bg-white'>
                        {% for video_by_category in search_results %}
                            <div class='col-12 col-md-4'>
                                
                                <!-- Single video title -->
                                <h3 class="mt-2 bycat-title"> 
                                    <a href="{% url 'single_video' video_by_category.id %}" 
                                        class="video-title "> {{ video_by_category.title }} 
                                    </a>
                                </h3>
                                    
                                <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                                    
                                    <!-- Video frame -->
                                    <iframe class="embed-responsive-item" src="{{ video_by_category.content }}" 
                                            allowfullscreen>
                                    </iframe>
        
                                    <!-- Action Buttons -->
                                    <div class="action-buttons-container">
                                        <!--  Add to my list -->
                                        <div class="action-button" data-bs-toggle="tooltip" 
                                            data-bs-placement="top" title="My List">
                                            <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=mylist">
                                                
                                                {% if video_by_category in videos_in_mylist %}
                                                    <i class="added_in_list fas fa-plus-square"></i>
                                                {% else %}
                                                    <i class="fas fa-plus-square"></i>
                                                {% endif %}
                                                
                                            </a>
                                        </div>
                                        
                                        <!-- Like -->
                                        <div class="action-button" data-bs-toggle="tooltip" 
                                            data-bs-placement="top" title="Like">

                                            <!-- Checking if a user has already liked current video -->
                                            {% if video_by_category in videos_in_likes %}
                                                <i class="added_in_list fas fa-check"></i>
                                            {% else %}
                                                <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=like" 
                                                    class="">
                                                    <i class="far fa-thumbs-up"></i>
                                                </a>
                                            {% endif %}
                                            
                                        
                                            <!-- Total like -->
                                            <small class=" action-buttons-value">   
                                                {% if video_by_category.liked == None %}
                                                    ( 0 )
                                                {% else %}
                                                    (+ {{ video_by_category.liked }} )
                                                {% endif %}
                                            </small>
                                        </div>

                                        <!-- Watched -->
                                        <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                            data-bs-placement="top" title="Watched">
                                            <a href="#">
                                                <i class="far fa-eye"></i>
                                            </a><small class="action-buttons-value">(247)</small>
                                        </div>   
                                    </div>
                                </div>

                                <!-- Video's Description -->
                                <p class="container-fluid mt-3 position-relative">
                                    {{ video_by_category.description }}
                                <p>
                            </div>
                        {% endfor %} 
                    </div>
                </div>
            {% endif %}
            
            <!--List of videos by categories -->
            {% if not videos_by_categories and not videos_by_subjects and not search_results %} 
                <div class="col-12 col-lg-9">
                    {% for category in categories %}

                        <!-- Category title -->
                        <div class="row no-gutters align-items-center">
                            <div class="col-7">
                                <h3 class="container-fluid video-titles titles mt-4">
                                    <img src="{{ MEDIA_URL }}/{{category.src}}" 
                                        width="45px" class="pr-2 ml-2" alt="{{category.name}}'s Icon">
                                    {{category.name}}
                                </h3>
                            </div>

                            <!-- Swipe icon -->
                            <div class="col col-md-5 mt-3 swipe-container">
                                <img src="{{ MEDIA_URL }}/icons/swipe-icon.png" 
                                        width="30px" class="pr-1 d-none d-md-inline-block" >
                                <span class="d-none d-md-inline-block d-lg-none">Swipe for next</span>
                                <span class="d-none d-lg-inline-block mr-3">Grab and swipe for next</span>
                            </div>
                        </div>
                        <!-- Title devider -->
                        <hr class="video-title-devider">

                        <!-- Content -->
                        <div class='row no-gutters'>

                            <!-- Sliders area -->
                            <div class="col-12">
                                <div class="video-slider-owerflow-hidden" id="{{ category.name.lower }}">
                                    <div class="sliders-container">
                                        {% for video_by_category in videos %}
                                            {% if video_by_category.category == category %}
                                                <!-- Slide -->
                                                <div class="slide">
                                                    
                                                    <!-- Single video title -->
                                                    <h3 class="mt-2 bycat-title"> 
                                                        <a href="{% url 'single_video' video_by_category.id %}" 
                                                            class="video-title "> {{ video_by_category.title }} 
                                                        </a>
                                                    </h3>
                                                        
                                                    <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                                                        
                                                        <!-- Video frame -->
                                                        <iframe class="embed-responsive-item" src="{{ video_by_category.content }}" 
                                                                allowfullscreen>
                                                        </iframe>
                            
                                                        <!-- Action Buttons -->
                                                        <div class="action-buttons-container">

                                                            <!--  Add to my list -->
                                                            <div class="action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="My List">
                                                                <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=mylist">
                                                                    
                                                                    {% if video_by_category in videos_in_mylist %}
                                                                        <i class="added_in_list fas fa-plus-square"></i>
                                                                    {% else %}
                                                                        <i class="fas fa-plus-square"></i>
                                                                    {% endif %}
                                                                    
                                                                </a>
                                                            </div>
                                                            
                                                            <!-- Like -->
                                                            <div class="action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="Like">

                                                                <!-- Checking if a user has already liked current video -->
                                                                {% if video_by_category in videos_in_likes %}
                                                                    <i class="added_in_list fas fa-check"></i>
                                                                {% else %}
                                                                    <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=like" 
                                                                        class="">
                                                                        <i class="far fa-thumbs-up"></i>
                                                                    </a>
                                                                {% endif %}
                                                                
                                                            
                                                                <!-- Total like -->
                                                                <small class=" action-buttons-value">   
                                                                    {% if video_by_category.liked == None %}
                                                                        ( 0 )
                                                                    {% else %}
                                                                        (+ {{ video_by_category.liked }} )
                                                                    {% endif %}
                                                                </small>
                                                            </div>

                                                            <!-- Watched -->
                                                            <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="Watched">
                                                                <a href="#">
                                                                    <i class="far fa-eye"></i>
                                                                </a><small class="action-buttons-value">(247)</small>
                                                            </div>   
                                                        </div>
                                                    </div>

                                                    <!-- Video's Description -->
                                                    <p class="container-fluid mt-3 position-relative">
                                                        {{ video_by_category.description }}
                                                    <p>
            
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            <!-- View all button-->
                            <div class='col-12 d-none d-lg-block'>
                                <a href='{% url 'videos' %}?category={{ category.name }}' 
                                class='btn btn-outline-success btn-lg btn-view-all'>
                                    View All
                                </a>
                            </div>

                        </div>
                    {% endfor %}

                </div>
            {% endif %} 
            
        </section>
    
    {% else %}

    {% endif %}
{% endblock %}

{% block bottom_extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/slider.js' %} "></script>
<script>
    /* If a device is a tablet and lower asigning a screen height */
    if ( window.innerWidth <= 768 ) {
        let screenHight = window.screen.height;
        let topMenuHeight = document.getElementById("top-header").offsetHeight;
        document.getElementById("a-side-menu").style.height = Number(screenHight - topMenuHeight - 40) + "px";
    }
    
    /* Opening and closing a video's side menu by Jquery */
    $(document).ready(function(){

        $("option").hide(); // Hiding  a option in the select tag

        /* Opening */ 
        $("#open-a-side-menu").click(function(){  
           $("#a-side-menu").animate({
               left: "0px"
           },function(){
               $("#open-a-side-menu").hide(function(){
                   $("#a-side-menu-close").css({"display" : "block"});
               });
           });   
           return false;  
        });


        /* Closing  */ 
        $("#a-side-menu-close").click(function(){

            let an;

            if ( window.innerWidth < 768 ) {
                an = '-300px';
            } else {
                an =  "-350px"
            }

           $("#a-side-menu").animate({

               left: an
               
           },function(){
               $("#a-side-menu-close").hide(function(){
                   $("#open-a-side-menu").css({"display" : "block"});
               });
           });   
           return false;  
        });


        // Freezing a opened side menu wile scrolling a page
        $(window).scroll(function(){
            
            if($("#a-side-menu").css("left") == "0px"){
                if($(window).scrollTop() > 0){
                    $("#a-side-menu").removeClass("a-side-menu"); 
                    $("#a-side-menu").addClass("freez-a-side-menu");  
                }else{
                    $("#a-side-menu").addClass("a-side-menu"); 
                    $("#a-side-menu").removeClass("freez-a-side-menu"); 
                }
            }

        });
    });
</script>

{% endblock %}