{% extends "base.html" %}
{% load static %}
{% load video_post_tags %}

{% block content %}

    {% if request.user.is_authenticated %}

        <!-- Side menu open button for tablets and mobile devices -->
        <div class="row d-lg-none no-gutters section-wrapper">
            <div class="col col-lg-0">&nbsp;</div>
            <div class="col-4 side-menu-btn-wrapper">
                <button class="default-btn btn" 
                        id="open-side-menu">
                    Categories
                </button>
            </div>
        </div>

        <section class="row videos-section section-wrapper no-gutters">
        
            <!-- Side menu -->
            <div class="pt-3 a-side-menu col-3" id="a-side-menu">
    
                <ul class="nav flex-column side-menu-ul">
                    
                    <!-- Categories's list -->
                    {% for category in categories %}

                        <!-- Category title -->
                        {% if forloop.counter0 == 0 %}
                            <li class="nav-item">
                        {% else %}
                            <li class="nav-item mt-4">
                        {% endif %}
                                <!-- Title -->
                                <a href="{% url 'videos' category.name %}" 
                                    class="side-menu-section-name nav-link ml-3 pb-4">
                                    <!-- Icon -->
                                    <i class='icons mz-i gr-i {{category.src}}'></i>
                                    <!-- Title -->
                                    {{ category.name }}
                                </a>
                            </li>

                            <!-- Subjects names -->
                            {% for subject in subjects %}
                                {% if subject.category ==  category %}
                                    <li class="nav-item">
                                        <a href="{% url 'videos' subject.name %}" 
                                                {% if subject.name == page %} 
                                                    class="selected_subject nav-link"
                                                {% else %}
                                                    class="side-menu-links nav-link" 
                                                {% endif %}>

                                            {{ subject.friendly_name }}
                                            <span class="badge ml-2 badge-light"> 
                                                {{ subject.posts_count }}
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                    
                    {% endfor %}
                    <div class="side-menu-bm"></div>
                </ul>

            </div>
           
            <!-- Videos by categories or by subjects -->
            {% if videos_by_categories or videos_by_subjects %}
                <!-- Check if it is rather by category or by subject -->
                {% if videos_by_categories %}
                    {% categorized videos_by_categories as categorized %}
                {% elif videos_by_subjects %}
                    {% categorized videos_by_subjects as categorized %}
                {% endif %}

                <div class="col-12 col-lg-9">
                    <!-- Grab categories -->
                    {% for category in categorized %}

                        <!-- Category title -->
                        <h3 class="container-fluid video-titles titles mt-4 pl-3">
                            <!-- Icon -->
                            <i class='icons gr-i {{category.src}}'></i>
                            <!-- Title -->
                            {{ category.friendly_name }}
                        </h3>
                        <!-- Title under line-->
                        <hr class="title-devider mt-4">
                        
                        <!-- Content Section -->
                        <div class='last-view-content-row row bg-white'>
                            <!-- Grab videos for current category -->
                            {% for video_by_category in videos %}

                                <!-- Determine rather it is
                                     a category's or subject's videos -->
                                {% if videos_by_categories %}
                                    {% video_type video_by_category.category as video_type %} 
                                {% elif videos_by_subjects %} 
                                    {% video_type video_by_category.subjects as video_type %}   
                                {% endif %}

                                <!-- Grab current video type -->
                                {% if video_type == category %}
                                    <div class='col-12 col-md-4'>
                                        
                                        <!-- Single video title -->
                                        <h3 class="mt-2"> 
                                            <a href="{% url 'single_video' video_by_category.id %}" 
                                                class="video-title "> {{ video_by_category.title }} 
                                            </a>
                                        </h3>
                                            
                                        <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                                            
                                            <!-- Video frame -->
                                            <iframe class="embed-responsive-item" src="{{ video_by_category.content }}" 
                                                    allowfullscreen>
                                            </iframe>
                
                                            <!-- Action Buttons -->
                                            <div class="action-buttons-container">

                                                <!--  Add to my list -->
                                                <div class="action-button" data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" title="My List">
                                                    <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=mylist">
                                                        
                                                        {% if video_by_category in videos_in_mylist %}
                                                            <i class="xs-icons ag-i"></i>
                                                        {% else %}
                                                            <i class="xs-icons agr-i"></i>
                                                        {% endif %}
                                                        
                                                    </a>
                                                </div>
                                                
                                                <!-- Like -->
                                                <div class="action-button" data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" title="Like">

                                                    <!-- Checking if a user has already liked current video -->
                                                    {% if video_by_category in videos_in_likes %}
                                                        <i class="xs-icons lg-i"></i>
                                                    {% else %}
                                                        <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=like" 
                                                            class="">
                                                            <i class="xs-icons lgr-i"></i>
                                                        </a>
                                                    {% endif %}
                                                    
                                                
                                                    <!-- Total like -->
                                                    <small class=" action-buttons-value">   
                                                        {% if video_by_category.liked == None %}
                                                            ( 0 )
                                                        {% else %}
                                                            (+ {{ video_by_category.liked }} )
                                                        {% endif %}
                                                    </small>
                                                </div>

                                                <!-- Watched -->
                                                <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" title="Watched">

                                                    <i class='xs-icons wi'></i>
                                                    <small class="action-buttons-value">(247)</small>
                                                </div>   
                                            </div>
                                        </div>

                                        <!-- Video's Description -->
                                        <p class="container-fluid mt-3 position-relative">
                                            {{ video_by_category.description|truncatechars:70 }}
                                        <p>
                                    </div>

                                {% endif %}

                            {% endfor %} 
                        </div>
                    {%  endfor %}
                </div>
            {% endif %}

            <!-- Videos by search -->
            {% if search_results %}
                <div class="col-12 col-lg-9">

                    <!-- Category title -->
                    <h3 class="container-fluid video-titles titles mt-4 pl-3"> 
                        <i class='icons mz-i gr-i sr-i'></i>
                        Search result
                    </h3>
                    <!-- Title under line-->
                    <hr class="title-devider mt-4">
                    
                    <!-- Content Section -->
                    <div class='last-view-content-row row bg-white'>
                        {% for video_by_category in search_results %}
                            <div class='col-12 col-md-4'>
                                
                                <!-- Single video title -->
                                <h3 class="mt-2"> 
                                    <a href="{% url 'single_video' video_by_category.id %}" 
                                        class="video-title "> {{ video_by_category.title }} 
                                    </a>
                                </h3>
                                    
                                <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                                    
                                    <!-- Video frame -->
                                    <iframe class="embed-responsive-item" src="{{ video_by_category.content }}" 
                                            allowfullscreen>
                                    </iframe>
        
                                    <!-- Action Buttons -->
                                    <div class="action-buttons-container">
                                        <!--  Add to my list -->
                                        <div class="action-button" data-bs-toggle="tooltip" 
                                            data-bs-placement="top" title="My List">
                                            <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=mylist">
                                                
                                                {% if video_by_category in videos_in_mylist %}
                                                    <i class="xs-icons ag-i"></i>
                                                {% else %}
                                                    <i class="xs-icons agr-i"></i>
                                                {% endif %}
                                                
                                            </a>
                                        </div>
                                        
                                        <!-- Like -->
                                        <div class="action-button" data-bs-toggle="tooltip" 
                                            data-bs-placement="top" title="Like">

                                            <!-- Checking if a user has already liked current video -->
                                            {% if video_by_category in videos_in_likes %}
                                                <i class="xs-icons lg-i"></i>
                                            {% else %}
                                                <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=like" 
                                                    class="">
                                                    <i class="xs-icons lgr-i"></i>
                                                </a>
                                            {% endif %}
                                            
                                        
                                            <!-- Total like -->
                                            <small class=" action-buttons-value">   
                                                {% if video_by_category.liked == None %}
                                                    ( 0 )
                                                {% else %}
                                                    (+ {{ video_by_category.liked }} )
                                                {% endif %}
                                            </small>
                                        </div>

                                        <!-- Watched -->
                                        <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                            data-bs-placement="top" title="Watched">

                                            <i class='xs-icons wi'></i>
                                            <small class="action-buttons-value">(247)</small>
                                        </div>   
                                    </div>
                                </div>

                                <!-- Video's Description -->
                                <p class="container-fluid mt-3 position-relative">
                                    {{ video_by_category.description|truncatechars:70 }}
                                <p>
                            </div>
                        {% endfor %} 
                    </div>
                </div>
            {% endif %}
            
            <!-- List of videos by categories -->
            {% if not videos_by_categories and not videos_by_subjects and not search_results %} 
                <div class="col-12 col-lg-9">
                    {% for category in categories %}

                        <!-- Category title -->
                        <div class="row no-gutters align-items-center">
                            <div class="col-12 col-md-7">
                                <h3 class="container-fluid video-titles titles mt-4">
                                    <!-- Icon -->
                                    <i class='icons gr-i {{category.src}}'></i>
                                    <!-- Title -->
                                    {{category.name}}
                                </h3>
                            </div>

                            <!-- Swipe icon -->
                            <div class="col col-md-5 mt-3 swipe-container">
                                <!-- Icon  -->
                                <i class='icons sz-i gr-i df-i d-none d-md-inline-block'></i>

                                <!-- text -->
                                <span class="d-none d-md-inline-block d-lg-none">Swipe for next</span>
                                <span class="d-none d-lg-inline-block mr-3">Grab and swipe for next</span>
                            </div>
                        </div>
                        <!-- Title devider -->
                        <hr class="title-devider">

                        <!-- Content -->
                        <div class="row no-gutters">

                            <!-- Sliders area -->
                            <div class="col-12">
                                <div class="slider-owerflow-hidden" id="{{ category.name.lower }}">
                                    <div class="slides-container">
                                        {% for video_by_category in videos %}
                                            {% if video_by_category.category == category %}
                                                <!-- Slide -->
                                                <div class="slide">
                                                    
                                                    <!-- Single video title -->
                                                    <h3 class="mt-2"> 
                                                        <a href="{% url 'single_video' video_by_category.id %}" 
                                                            class="video-title "> {{ video_by_category.title }} 
                                                        </a>
                                                    </h3>
                                                        
                                                    <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                                                        
                                                        <!-- Video frame -->
                                                        <iframe class="embed-responsive-item" src="{{ video_by_category.content }}" 
                                                                allowfullscreen>
                                                        </iframe>
                            
                                                        <!-- Action Buttons -->
                                                        <div class="action-buttons-container">

                                                            <!--  Add to my list -->
                                                            <div class="action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="My List">
                                                                <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=mylist">
                                                                    
                                                                    {% if video_by_category in videos_in_mylist %}
                                                                        <i class="xs-icons ag-i"></i>
                                                                    {% else %}
                                                                        <i class="xs-icons agr-i"></i>
                                                                    {% endif %}
                                                                    
                                                                </a>
                                                            </div>
                                                            
                                                            <!-- Like -->
                                                            <div class="action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="Like">

                                                                <!-- Checking if a user has already liked current video -->
                                                                {% if video_by_category in videos_in_likes %}
                                                                     <i class="xs-icons lg-i"></i>
                                                                {% else %}
                                                                    <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video_by_category.id }}&action=like" 
                                                                        class="">
                                                                        <i class="xs-icons lgr-i"></i>
                                                                    </a>
                                                                {% endif %}
                                                                
                                                            
                                                                <!-- Total like -->
                                                                <small class=" action-buttons-value">   
                                                                    {% if video_by_category.liked == None %}
                                                                        ( 0 )
                                                                    {% else %}
                                                                        (+ {{ video_by_category.liked }} )
                                                                    {% endif %}
                                                                </small>
                                                            </div>

                                                            <!-- Watched -->
                                                            <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" title="Watched">

                                                                <i class='xs-icons wi'></i>
                                                                <small class="action-buttons-value">(247)</small>
                                                            </div>   
                                                        </div>
                                                    </div>

                                                    <!-- Video's Description -->
                                                    <p class="container-fluid mt-3 position-relative">
                                                        <!-- Video description -->
                                                        {{ video_by_category.description|truncatechars:70 }}
                                                    <p>
            
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            <!-- View all button-->
                            <div class='col-12 d-none d-lg-block'>
                                <a href="{% url 'videos' category.name %}"
                                class='btn btn-outline-success btn-lg btn-view-all'>
                                    View All
                                </a>
                            </div>

                        </div>

                        <!-- Swipe icon for mobile -->               
                        <div class='swipe-icon-wrapper d-md-none'>
                            <i class='mb-swipe-icon sz-icons swp-i d-md-none'></i>
                        </div>
                    {% endfor %}

                </div>
                
            {% endif %} 
        </section>
    
    {% else %}

    {% endif %}
{% endblock %}
{% block bottom_extra_js %}

<!-- Load slider if the page is videos. -->
{% if current_page == 'videos' %}
    <script src="{% static 'js/slider.js' %} "></script>
{% endif %}
<script src="{% static 'js/sidemenu.js' %} "></script>

{% endblock %}