{% extends "base.html" %}
{% load static %}
{% load video_post_tags %}

{% block content %}

    {% if request.user.is_authenticated %}

        <!-- Side menu opener for tablets and mobile devices -->
        <div class="row no-gutters dia-breadcrumb section-wrapper">

            <div class="col col-lg-0">&nbsp;</div>

            <div class="col-4 d-lg-none">
                <select class="custom-select cat-select" id="open-a-side-menu">
                    <option value="">Cat...</option>
                </select>
                <button type="button" class="ml-2 mb-1 mr-2 mt-2 close" id="a-side-menu-close">
                    <span class="x-sign">&times;</span>
                </button>
            </div>

        </div>

        <!-- This is a HTML fot DESKTOP devices -->
        <div class='row section-wrapper mt-3 no-gutters'>
        
            <!-- Side menu -->
            <div class='a-side-menu col-3' id='a-side-menu'>

                <!-- Parsing a url and geting a current subject's name -->
                {% current_subj_name request.get_full_path as current_subj_name %}
            
                <ul class="nav flex-column ml-3 side-menu-ul">
                
                    <!-- Categories's list -->
                    {% for category in categories %}

                        <li class="nav-item mt-2">
                            <a href="{% url 'videos' %}?category={{ category.name }}" class="nav-link ml-3 pl-0 pb-3  side-menu-section-name">
                                <img src="{{ category.src }}" width="45px" class="pr-2" alt="Video's Category's Icon">By {{ category.name }}
                            </a>
                        </li>

                        <!-- Subjects names -->
                        {% for subject in subjects %}

                                {% if subject.category ==  category %}
                                
                                    <li class="nav-item">
                                    
                                        <a href="{% url 'videos' %}?subject={{ subject.name }}" 
                                            {% if subject.name == current_subj_name %} 
                                                class="selected_subject nav-link"
                                            {% else %}
                                                class="nav-link" 
                                            {% endif %}
                                        >
                                            {{ subject.friendly_name }}
                                            <span class="badge ml-2 badge-info"> {{ subject.posts_count }}</span>
                                        </a>

                                    </li>

                                {% endif %}

                        {% endfor %}
                    
                    {% endfor %}

                </ul>

            </div>
            
            <!-- Videos By Category -->
            {% if videos_by_subjects %}
                <!-- Video Page content -->
                <div class='col-12 col-lg-9 bg-white'>
                    
                    {% for videos_by_subject in videos_by_subjects %}

                        <!-- Category Title Section -->
                        <div class='row no-gutters bg-white'>
                            <!-- Title -->
                            <div class="col-auto mt-3">
                                <h3 class="desk-titles titles videos-title p-for-md pt-3 pl-3"> 
                                    {% if videos_by_subject.src %}
                                        <img src="{{ videos_by_subject.src }}" width="45px" class="pr-2 d-none d-md-inline category-title-icon" alt="Video's Category's Icon">
                                    {% endif %}
                                    {{ videos_by_subject.friendly_name }}
                                </h3>
                            </div>

                            <!-- Title's Right Line -->
                            <div class="col align-self-center ml-4 category-names-right-line">
                                &nbsp;
                            </div>

                            <div class="col-1"> &nbsp; </div>
                        </div>
                        
                        <!-- Content Section -->
                        <div class='last-view-content-row row bg-white'>

                            {% for video in videos %}

                                {% if video.subjects == videos_by_subject %}

                                    <div class='col-12 col-md-4'> 

                                        <!-- Title  -->
                                        <h3 class="pl-3 mt-2"> 
                                
                                            <a href="{% url 'single_video' video.id %}" class="video-title"> {{ video.title }} </a>
                                        </h3>

                                        <!-- Video  -->
                                        <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
                                            <!-- Video's Frame -->
                                            <iframe class="embed-responsive-item" src="{{ video.content }}" allowfullscreen></iframe>
                                            <!-- END a Video's Frame -->

                                            <!-- Action Button's Div -->
                                            <div class="container-for-action-buttons position-absolute">
                                                <div class="row no-gutters">
                                                    <!-- Add To My Lists's Button -->
                                                    <div class="col-12 text-right mb-3">
                                                        <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=mylist" class="text-secondary">
                                                            {% if video in videos_in_mylist %}
                                                                <i class="added_in_list fas fa-plus-square"></i>
                                                            {% else %}
                                                                <i class="fas fa-plus-square"></i>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <!-- Like's Button -->
                                                    <div class="col-12 text-right mb-3">
                                                        <!-- Checking if a user has already liked current video -->
                                                        {% if video in videos_in_likes %}
                                                            <i class="added_in_list fas fa-check"></i>
                                                        {% else %}
                                                            <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=like" 
                                                                class="text-secondary">
                                                                <i class="far fa-thumbs-up"></i>
                                                            </a>
                                                        {% endif %}
                                                        
                                                    
                                                        <!-- Displaying a total likes -->
                                                        <small class="text-secondary action-buttons-value">   
                                                            {% if video.liked == None %}
                                                                ( 0 )
                                                            {% else %}
                                                            (+ {{ video.liked }} )
                                                            {% endif %}
                                                        </small>
                                                    </div>
                                                    <!-- Views Button -->
                                                    <div class="col-12 text-right">
                                                        <a href="#" class="text-secondary">
                                                            <i class="far fa-eye"></i>
                                                        </a><small class="text-secondary action-buttons-value">(247)</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Video's Description -->
                                        <p class="pl-3 mt-3">
                                            {{ video.description }}
                                        <p> 
                                
                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                    {%  endfor %}

                </div>
            {% endif %}

            <!-- Videos By Sujects -->
            {% if videos_by_categories %}
                <!-- Video Page content -->
                <div class='col-12 col-lg-9 bg-white'>
                    
                    {% for videos_by_categorie in videos_by_categories %}
                    
                        <!-- Category Title Section -->
                        <div class='row no-gutters bg-white'>
                            <!-- Title -->
                            <div class="col-auto mt-3">
                                <h3 class="desk-titles titles videos-title p-for-md pt-3 pl-3"> 
                                    {% if videos_by_categorie.src %}
                                        <img src="{{ videos_by_categorie.src }}" width="45px" class="pr-2 d-none d-md-inline category-title-icon" alt="Video's Category's Icon">
                                    {% endif %}
                                    {{ videos_by_categorie.friendly_name }}
                                </h3>
                            </div>

                            <!-- Title's Right Line -->
                            <div class="col align-self-center ml-4 category-names-right-line">
                                &nbsp;
                            </div>

                            <div class="col-1"> &nbsp; </div>
                        </div>
                        
                        <!-- Content Section -->
                        <div class='last-view-content-row row bg-white'>

                            {% for video in videos %}

                                {% if video.category == videos_by_categorie %}

                                    <div class='col-12 col-md-4'> 

                                        <!-- Title  -->
                                        <h3 class="pl-3 mt-2"> 
                                
                                            <a href="{% url 'single_video' video.id %}" class="video-title"> {{ video.title }} </a>
                                        </h3>

                                        <!-- Video  -->
                                        <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
                                            <!-- Video's Frame -->
                                            <iframe class="embed-responsive-item" src="{{ video.content }}" allowfullscreen></iframe>
                                            <!-- END a Video's Frame -->

                                            <!-- Action Button's Div -->
                                            <div class="container-for-action-buttons position-absolute">
                                                <div class="row no-gutters">
                                                    <!-- Add To My Lists's Button -->
                                                    <div class="col-12 text-right mb-3">
                                                        <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=mylist"
                                                        class="text-secondary">
                                                        
                                                        {% if video in videos_in_mylist %}
                                                                <i class="added_in_list fas fa-plus-square"></i>
                                                            {% else %}
                                                                <i class="fas fa-plus-square"></i>
                                                            {% endif %}

                                                        </a>
                                                    </div>
                                                    <!-- Like's Button -->
                                                    <div class="col-12 text-right mb-3">

                                                        
                                                        <!-- Checking if a user has already liked current video -->
                                                        {% if video in videos_in_likes %}
                                                            <i class="added_in_list fas fa-check"></i>
                                                        {% else %}
                                                            <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=like" 
                                                                class="text-secondary">
                                                                <i class="far fa-thumbs-up"></i>
                                                            </a>
                                                        {% endif %}
                                                        
                                                    
                                                        <!-- Displaying a total likes -->
                                                        <small class="text-secondary action-buttons-value">   
                                                            {% if video.liked == None %}
                                                                ( 0 )
                                                            {% else %}
                                                            (+ {{ video.liked }} )
                                                            {% endif %}
                                                        </small>

                                                    </div>
                                                    <!-- Views Button -->
                                                    <div class="col-12 text-right">
                                                        <a href="#" class="text-secondary">
                                                            <i class="far fa-eye"></i>
                                                        </a><small class="text-secondary action-buttons-value">(247)</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Video's Description -->
                                        <p class="pl-3 mt-3">
                                            {{ video.description }}
                                        <p> 
                                
                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                    {%  endfor %}

                </div>
            {% endif %}

            <!-- Search result -->
            {% if search_results %}
                <!-- Video Page content -->
                <div class='col-12 col-lg-9 bg-white'>

                    <!-- Search Title Section -->
                    <div class='row no-gutters bg-white'>
                        <!-- Title -->
                        <div class="col-auto mt-3">
                            <h3 class="desk-titles titles videos-title p-for-md pt-3 pl-3">
                                <i class="fas fa-search titles-icon pl-4"></i> 
                                Your seach result:
                            </h3>
                        </div>

                        <!-- Title's Right Line -->
                        <div class="col align-self-center ml-4 category-names-right-line">
                            &nbsp;
                        </div>

                        <div class="col-1"> &nbsp; </div>
                    </div>
                    
                    <!-- Content Section -->
                    <div class='last-view-content-row row bg-white'>

                        {% for search_result in search_results %}
                            <div class='col-12 col-md-4'> 

                                <!-- Title  -->
                                <h3 class="pl-3 mt-2"> 
                        
                                    <a href="{% url 'single_video' search_result.id %}" class="video-title"> {{ search_result.title }} </a>
                                </h3>

                                <!-- Video  -->
                                <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
                                    <!-- Video's Frame -->
                                    <iframe class="embed-responsive-item" src="{{ search_result.content }}" allowfullscreen></iframe>
                                    <!-- END a Video's Frame -->

                                    <!-- Action Button's Div -->
                                    <div class="container-for-action-buttons position-absolute">
                                        <div class="row no-gutters">
                                            <!-- Add To My Lists's Button -->
                                            <div class="col-12 text-right mb-3">
                                                <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ search_result.id }}&action=mylist"
                                                    class="text-secondary">
                                                    
                                                    {% if search_result in videos_in_mylist %}
                                                        <i class="added_in_list fas fa-plus-square"></i>
                                                    {% else %}
                                                        <i class="fas fa-plus-square"></i>
                                                    {% endif %}

                                                </a>
                                            </div>
                                            <!-- Like's Button -->
                                            <div class="col-12 text-right mb-3">

                                                
                                                <!-- Checking if a user has already liked current video -->
                                                {% if search_result in videos_in_likes %}
                                                    <i class="added_in_list fas fa-check"></i>
                                                {% else %}
                                                    <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ search_result.id }}&action=like" 
                                                        class="text-secondary">
                                                        <i class="far fa-thumbs-up"></i>
                                                    </a>
                                                {% endif %}
                                                
                                                
                                                <!-- Displaying a total likes -->
                                                <small class="text-secondary action-buttons-value">   
                                                    {% if search_result.liked == None %}
                                                        ( 0 )
                                                    {% else %}
                                                        (+ {{ search_result.liked }} )
                                                    {% endif %}
                                                </small>

                                            </div>
                                            <!-- Views Button -->
                                            <div class="col-12 text-right">
                                                <a href="#" class="text-secondary">
                                                    <i class="far fa-eye"></i>
                                                </a><small class="text-secondary action-buttons-value">(247)</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Video's Description -->
                                <p class="pl-3 mt-3">
                                    {{ search_result.description }}
                                <p> 
                        
                            </div>

                        {%  endfor %}

                    </div>
                    
                </div>
            {% endif %}

            <!-- Displaying all videos -->
            {% if not videos_by_categories and not videos_by_subjects and not search_results %}

                <!-- Video Page content -->
                <div class='col-12 col-lg-9'>
                    
                    {% for category in categories %}

                        <!-- Changing a section's top background -->
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="top-and-bottom-block-bg white-section-top-bg-2 mt-3 w-100 d-lg-none"></div>
                        {% else %}
                            <div class="top-and-bottom-block-bg white-section-top-bg mt-3 w-100 d-lg-none"></div>
                        {% endif %}

                        <!-- Category Title Section -->
                        <div class='row no-gutters bg-white'>
                            <!-- Title -->
                            <div class="col-auto">
                                <h3 class="desk-titles titles videos-title p-for-md pt-3 pl-3"> 
                                    <img src="{{ category.src }}" width="45px" class="pr-2 d-none d-md-inline category-title-icon" alt="Video's Category's Icon">
                                    {{ category.friendly_name }}
                                </h3>
                            </div>

                            <!-- Title's Right Line -->
                            <div class="col align-self-center mt-2 ml-4 category-names-right-line">
                                &nbsp;
                            </div>

                            <div class="col-1"> &nbsp; </div>
                        </div>

                        <!-- Content Section -->
                        <div class='col-12 bg-white padding-0'>
                            
                            <div class="video-slider-owerflow-hidden" id="{{ category.name   }}">
                                <div class="sliders-container">
                                    {% for video in videos %}
                                    
                                        {% if video.category == category %}
                                            
                                            <div class="slide">
                                                
                                                <!-- Title  -->
                                                <h3 class="pl-3 mt-2"> 
                                                    <a href="{% url 'single_video' video.id %}" class="video-title "> {{ video.title }} </a>
                                                </h3>

                                                <!-- Video 1 -->
                                                <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
                                                    
                                                    <!-- Video's Frame -->
                                                    <iframe class="embed-responsive-item" src="{{ video.content }}" allowfullscreen></iframe>
                        

                                                    <!-- Action Button's Div -->
                                                    <div class="container-for-action-buttons position-absolute">
                                                        <div class="row no-gutters">
                                                            <!-- Add To My Lists's Button -->
                                                            <div class="col-12 text-right mb-3">
                                                                <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=mylist" 
                                                                        class="text-secondary">
                                                                    {% if video in videos_in_mylist %}
                                                                        <i class="added_in_list fas fa-plus-square"></i>
                                                                    {% else %}
                                                                        <i class="fas fa-plus-square"></i>
                                                                    {% endif %}
                                                                    
                                                                </a>
                                                            </div>
                                                            <!-- Like's Button -->
                                                            <div class="col-12 text-right mb-3">
                                                                <!-- Checking if a user has already liked current video -->
                                                                {% if video in videos_in_likes %}
                                                                    <i class="added_in_list fas fa-check"></i>
                                                                {% else %}
                                                                    <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ video.id }}&action=like" 
                                                                        class="text-secondary">
                                                                        <i class="far fa-thumbs-up"></i>
                                                                    </a>
                                                                {% endif %}
                                                                
                                                            
                                                                <!-- Displaying a total likes -->
                                                                <small class="text-secondary action-buttons-value">   
                                                                    {% if video.liked == None %}
                                                                        ( 0 )
                                                                    {% else %}
                                                                    (+ {{ video.liked }} )
                                                                    {% endif %}
                                                                </small>
                                                            </div>
                                                            <!-- Views Button -->
                                                            <div class="col-12 text-right">
                                                                <a href="#" class="text-secondary">
                                                                    <i class="far fa-eye"></i>
                                                                </a><small class="text-secondary action-buttons-value">(247)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END a Action's Buttons Div -->  
                                                </div>

                                                <!-- Video's Description -->
                                                <p class="container-fluid mt-3 position-relative">
                                                    {{ video.description }}
                                                <p>
                                                <!-- END a Video's Description -->
        
                                            </div>
                                            

                                        {% endif %}

                                    {% endfor %}
                                    
                                </div>
                            </div>

                            <div class='col-12 d-none d-lg-block'>
                                <a href='{% url 'videos' %}?category={{ category.name }}' class='btn btn-success btn-view-all'>
                                    View All
                                </a>
                            </div>

                        </div>

                        <!-- Changing a section's bottom backgorund -->
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="top-and-bottom-block-bg white-section-bottom-bg-2 w-100 d-lg-none"></div>
                        {% else %}
                            <div class="top-and-bottom-block-bg white-section-bottom-bg w-100 d-lg-none"></div>
                        {% endif %}

                        <hr class="section-devider d-none d-lg-block" />

                    {%  endfor %}

                </div>

                
            {% endif %}
            

        </div>
    
    {% else %}

    {% endif %}
{% endblock %}

{% block bottom_extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/slider.js' %} "></script>
<script>
    /* If a device is a tablet and lower asigning a screen height */
    if ( window.innerWidth <= 768 ) {
        let screenHight = window.screen.height;
        let topMenuHeight = document.getElementById("top-header").offsetHeight;
        document.getElementById("a-side-menu").style.height = Number(screenHight - topMenuHeight - 40) + "px";
    }
    
    /* Opening and closing a video's side menu by Jquery */
    $(document).ready(function(){

        $("option").hide(); // Hiding  a option in the select tag

        /* Opening */ 
        $("#open-a-side-menu").click(function(){  
           $("#a-side-menu").animate({
               left: "0px"
           },function(){
               $("#open-a-side-menu").hide(function(){
                   $("#a-side-menu-close").css({"display" : "block"});
               });
           });   
           return false;  
        });


        /* Closing  */ 
        $("#a-side-menu-close").click(function(){

            let an;

            if ( window.innerWidth < 768 ) {
                an = '-300px';
            } else {
                an =  "-350px"
            }

           $("#a-side-menu").animate({

               left: an
               
           },function(){
               $("#a-side-menu-close").hide(function(){
                   $("#open-a-side-menu").css({"display" : "block"});
               });
           });   
           return false;  
        });


        // Freezing a opened side menu wile scrolling a page
        $(window).scroll(function(){
            
            if($("#a-side-menu").css("left") == "0px"){
                if($(window).scrollTop() > 0){
                    $("#a-side-menu").removeClass("a-side-menu"); 
                    $("#a-side-menu").addClass("freez-a-side-menu");  
                }else{
                    $("#a-side-menu").addClass("a-side-menu"); 
                    $("#a-side-menu").removeClass("freez-a-side-menu"); 
                }
            }

        });
    });
</script>

{% endblock %}