{% extends 'base.html' %}
{% load static %}
{% block pages_style %}
<link rel="stylesheet" href="{% static 'css/videos/videos.css' %}">
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    <!-- Breadcrumb -->
        <div class="row no-gutters dia-breadcrumb">

            <div class="col-auto pl-0">
                <!-- breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb shadow-sm breadcrumb-activ-link">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'videos' %}">Videos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Single Video's Tit...</li>
                    </ol>
                </nav>
                <!-- END a breadcrumb -->
            </div>

        </div>
    <!-- END a Breadcrumb -->

    <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
        <!-- Video's Frame -->
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        <!-- END a Video's Frame -->

        <!-- Action Button's Div -->
        <div class="container-for-action-buttons position-absolute">
            <div class="row no-gutters">
                <!-- Add To My Lists's Button -->
                <div class="col-12 text-right mb-3">
                    <a href="#" class="text-secondary"><i class="fas fa-plus-square"></i></a>
                </div>
                <!-- Like's Button -->
                <div class="col-12 text-right mb-3">
                    <a href="#" class="text-secondary">
                        <i class="far fa-thumbs-up"></i>
                    </a><small class="text-secondary action-buttons-value">(+17)</small>
                </div>
                <!-- Views Button -->
                <div class="col-12 text-right">
                    <a href="#" class="text-secondary">
                        <i class="far fa-eye"></i>
                    </a><small class="text-secondary action-buttons-value">(247)</small>
                </div>
            </div>
        </div>
        <!-- END a Action's Buttons Div -->  
    </div>

    <div class="video-desc-wrapper">
        <div class="pl-2 mt-3 small font-italic"> Published - 2021-02-14 </div>
        <div class="pl-2 mt-1 small font-italic"> Platform - Youtube </div>
        <p class="pl-2 mt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        <p>
    </div>

    <!-- By Same Videos Section's top bg -->
        <div class="top-and-bottom-block-bg calendar-blocks-top-bg mt-3"></div>
        <!-- By Same Videos  Section's Content -->
        <section class="row no-gutters bg-white">

            <h3 class="container-fluid titles mt-4">
                <i class="fas fa-stream pr-2 titles-icon"></i>Videos From Same Category
            </h3>
            <hr class="video-title-devider">

            <div class="col-12">

                <div class="video-slider-owerflow-hidden" id="same-videos">
                    <div class="sliders-container">
                        <div class="slide">
                            <!-- Video's Title -->
                            <h3 class="pl-3 mt-2"><a href="" class="video-title">Title of the Vide </a></h3>
                            <!-- Video 1 -->
                            <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
                                <!-- Video's Frame -->
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                <!-- END a Video's Frame -->

                                <!-- Action Button's Div -->
                                <div class="container-for-action-buttons position-absolute">
                                    <div class="row no-gutters">
                                        <!-- Add To My Lists's Button -->
                                        <div class="col-12 text-right mb-3">
                                            <a href="#" class="text-secondary"><i class="fas fa-plus-square"></i></a>
                                        </div>
                                        <!-- Like's Button -->
                                        <div class="col-12 text-right mb-3">
                                            <a href="#" class="text-secondary">
                                                <i class="far fa-thumbs-up"></i>
                                            </a><small class="text-secondary action-buttons-value">(+17)</small>
                                        </div>
                                        <!-- Views Button -->
                                        <div class="col-12 text-right">
                                            <a href="#" class="text-secondary">
                                                <i class="far fa-eye"></i>
                                            </a><small class="text-secondary action-buttons-value">(247)</small>
                                        </div>
                                    </div>
                                </div>
                                <!-- END a Action's Buttons Div -->  
                            </div>

                            <!-- Video's Description -->
                            <p class="container-fluid mt-3 position-relative">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun
                            <p>
                            <!-- END a Video's Description -->
                            <!-- EMD a Video 1-->
                        </div>

                        <div class="slide">
                            <!-- Video's Title -->
                            <h3 class="pl-3 mt-2"><a href="" class="video-title">Title of the Vide </a></h3>
                            <!-- Video 1 -->
                            <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
                                <!-- Video's Frame -->
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                <!-- END a Video's Frame -->

                                <!-- Action Button's Div -->
                                <div class="container-for-action-buttons position-absolute">
                                    <div class="row no-gutters">
                                        <!-- Add To My Lists's Button -->
                                        <div class="col-12 text-right mb-3">
                                            <a href="#" class="text-secondary"><i class="fas fa-plus-square"></i></a>
                                        </div>
                                        <!-- Like's Button -->
                                        <div class="col-12 text-right mb-3">
                                            <a href="#" class="text-secondary">
                                                <i class="far fa-thumbs-up"></i>
                                            </a><small class="text-secondary action-buttons-value">(+17)</small>
                                        </div>
                                        <!-- Views Button -->
                                        <div class="col-12 text-right">
                                            <a href="#" class="text-secondary">
                                                <i class="far fa-eye"></i>
                                            </a><small class="text-secondary action-buttons-value">(247)</small>
                                        </div>
                                    </div>
                                </div>
                                <!-- END a Action's Buttons Div -->  
                            </div>

                            <!-- Video's Description -->
                            <p class="container-fluid mt-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            <p>
                            <!-- END a Video's Description -->
                            <!-- END a Video 2-->
                        </div>

                        <div class="slide">
                            <!-- Video's Title -->
                            <h3 class="pl-3 mt-2"><a href="" class="video-title">Title of the Vide </a></h3>
                            <!-- Video 3 -->
                            <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">
                                <!-- Video's Frame -->
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                <!-- END a Video's Frame -->

                                <!-- Action Button's Div -->
                                <div class="container-for-action-buttons position-absolute">
                                    <div class="row no-gutters">
                                        <!-- Add To My Lists's Button -->
                                        <div class="col-12 text-right mb-3">
                                            <a href="#" class="text-secondary"><i class="fas fa-plus-square"></i></a>
                                        </div>
                                        <!-- Like's Button -->
                                        <div class="col-12 text-right mb-3">
                                            <a href="#" class="text-secondary">
                                                <i class="far fa-thumbs-up"></i>
                                            </a><small class="text-secondary action-buttons-value">(+17)</small>
                                        </div>
                                        <!-- Views Button -->
                                        <div class="col-12 text-right">
                                            <a href="#" class="text-secondary">
                                                <i class="far fa-eye"></i>
                                            </a><small class="text-secondary action-buttons-value">(247)</small>
                                        </div>
                                    </div>
                                </div>
                                <!-- END a Action's Buttons Div -->  
                            </div>

                            <!-- Video's Description -->
                            <p class="container-fluid mt-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            <p>
                            <!-- END a Video's Description -->
                            <!-- END a Video 3 -->
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- END a Section's Content -->
        <!-- By Same Videos Section's Bottom BG-->
        <div class="top-and-bottom-block-bg calendar-blocks-bottom-bg"></div>
  


{% else %}

{% endif %}

{% endblock %}

{% block bottom_extra_js %}
    <script src="/static/js/slider.js"></script>
{% endblock %}
