{% extends 'base.html' %}
{% load static %}
{% block pages_style %}
<link rel="stylesheet" href="{% static 'css/videos/videos.css' %}">
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}

        <section class="section-wrapper">

            <!-- Single video title -->
            <h3 class="mt-5 single-video-title titles">
                <!-- Icon -->
                <i class="icons gr-i vi"> </i>

                <!-- Title -->
                {{ single_video.title }}
            </h3>
                
            <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                
                <!-- Video frame -->
                <iframe class="embed-responsive-item" src="{{ single_video.content }}" 
                        allowfullscreen>
                </iframe>

                <!-- Action Buttons -->
                <div class="single-video-act action-buttons-container">

                    <!--  Add to my list -->
                    <div class="action-button" data-bs-toggle="tooltip" 
                        data-bs-placement="top" title="My List">
                        <a href="{% url "action_buttons" %}?page_url={{request.get_full_path}}&video_id={{ single_video.id }}&action=mylist">
                            
                            {% if single_video in videos_in_mylist %}
                                <i class="icons ag-i"></i>
                            {% else %}
                               <i class="icons agr-i"></i>
                            {% endif %}
                            
                        </a>
                    </div>
                    
                    <!-- Like -->
                    <div class="action-button" data-bs-toggle="tooltip" 
                        data-bs-placement="top" title="Like">

                        <!-- Checking if a user has already liked current video -->
                        {% if single_video in videos_in_likes %}
                            <i class="icons slg-i"></i>
                        {% else %}
                            <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ single_video.id }}&action=like" 
                                class="">
                                <i class="icons lgr-i"></i>
                            </a>
                        {% endif %}
                        
                    
                        <!-- Total like -->
                        <small class="action-buttons-value">   
                            {% if single_video.liked == None %}
                                ( 0 )
                            {% else %}
                                (+ {{ single_video.liked }} )
                            {% endif %}
                        </small>
                    </div>

                    <!-- Watched -->
                    <div class="watched-value action-button" data-bs-toggle="tooltip" 
                        data-bs-placement="top" title="Watched">
                        <i class='icons sw-i'></i>
                        <small class="action-buttons-value">(247)</small>
                    </div>   
                </div>
            </div>

            <div>
                <div class="pl-2 mt-3 small font-italic"> Published - 2021-02-14 </div>
                <div class="pl-2 mt-1 small font-italic"> Platform - Youtube </div>
                <p class="pl-2 mt-3">
                    {{ single_video.description }}           
                <p>
            </div>
        </section>


        <!-- Top slanted line bg -->
        <div class="mt-5 top-and-bottom-block-bg white-section-top-bg"></div>

        <!-- Same videos -->
        <section class="row no-gutters bg-white">
            <div class="col-12">
                <div class="section-wrapper">
                    
                    <!-- Category title -->
                    <div class="row no-gutters align-items-center">
                        <div class="col-9">
                            <h3 class="container-fluid single-video-title titles mt-4">
                                <!-- Icon -->
                                <i class='icons gr-i sc-i'></i>
                                Videos From Same Category
                            </h3>
                        </div>

                        <div class="col col-md-3 swipe-container">
                            <!-- Icon  -->
                            <i class='icons sz-i gr-i df-i d-none d-md-inline-block'></i>

                            <span class="d-none d-md-inline-block d-lg-none">Swipe for next</span>
                            <span class="d-none d-lg-inline-block">You can also swipe by mouse</span>
                        </div>
                    </div>
                    <hr class="video-title-devider">

                    <div class="row no-gutters">

                        <!-- Slider left arrow -->
                        <div class='col-0 col-lg-1 d-none d-lg-block align-self-center'>
                            <a href='#' class='desk-video-switchwer' data-direction='left' id='left'>
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>

                        <!-- Sliders area -->
                        <div class='col-12 col-lg-10'>
                            <div class="video-slider-owerflow-hidden" id="same-videos">
                                <div class="sliders-container">
                                    {% for same_video in same_videos %}

                                        <!-- Slide -->
                                        <div class="slide">
                                            
                                            <!-- Single video title -->
                                            <h3 class="mt-2 bycat-title"> 
                                                <a href="{% url 'single_video' same_video.id %}" 
                                                    class="video-title "> {{ same_video.title }} 
                                                </a>
                                            </h3>
                                                
                                            <div class="embed-responsive embed-responsive-16by9 position-relative mt-4">             <!-- Video's Frame -->
                                                
                                                <!-- Video frame -->
                                                <iframe class="embed-responsive-item" src="{{ same_video.content }}" 
                                                        allowfullscreen>
                                                </iframe>
                    
                                                <!-- Action Buttons -->
                                                <div class="action-buttons-container">

                                                    <!--  Add to my list -->
                                                    <div class="action-button" data-bs-toggle="tooltip" 
                                                        data-bs-placement="top" title="My List">
                                                        <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ same_video.id }}&action=mylist">
                                                            
                                                            {% if same_video in videos_in_mylist %}
                                                                <i class='xs-icons ag-i'></i>
                                                            {% else %}
                                                                <i class='xs-icons agr-i'></i>
                                                            {% endif %}
                                                            
                                                        </a>
                                                    </div>
                                                    
                                                    <!-- Like -->
                                                    <div class="action-button" data-bs-toggle="tooltip" 
                                                        data-bs-placement="top" title="Like">

                                                        <!-- Checking if a user has already liked current video -->
                                                        {% if same_video in videos_in_likes %}
                                                            <i class='xs-icons lg-i'></i>
                                                        {% else %}
                                                            <a href="{% url 'action_buttons' %}?page_url={{request.get_full_path}}&video_id={{ same_video.id }}&action=like" 
                                                                class="">
                                                                <i class='xs-icons lgr-i'></i>
                                                            </a>
                                                        {% endif %}
                                                        
                                                    
                                                        <!-- Total like -->
                                                        <small class=" action-buttons-value">   
                                                            {% if same_video.liked == None %}
                                                                ( 0 )
                                                            {% else %}
                                                                (+ {{ same_video.liked }} )
                                                            {% endif %}
                                                        </small>
                                                    </div>

                                                    <!-- Watched -->
                                                    <div class="watched-value action-button" data-bs-toggle="tooltip" 
                                                        data-bs-placement="top" title="Watched">

                                                        <i class='xs-icons wi'></i>
                                                        <small class="action-buttons-value">(247)</small>
                                                    </div>   
                                                </div>
                                            </div>

                                            <!-- Video's Description -->
                                            <p class="container-fluid mt-3 position-relative">
                                                {{ same_video.description }}
                                            <p>
    
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                        <!-- Slider right arrow-->
                        <div class='col-0 col-lg-1 d-none d-lg-block align-self-center'>
                            <a href='#' class='desk-video-switchwer float-right' 
                                        data-direction='right' id='right'>
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        
        </section>

        <!-- Bottom slanted line bg -->
        <div class="top-and-bottom-block-bg white-section-bottom-bg position-relative">
            <img src="{{ MEDIA_URL }}/icons/swipe-icon.png" 
            width="30px" class="d-md-none mb-swipe-icon">
        </div>

    {% else %}

    {% endif %}

{% endblock %}

{% block bottom_extra_js %}
<script src="{% static 'js/slider.js' %} "></script>
{% endblock %}
